{
  "presets": [["es2015", { "loose": true }]],
  "plugins": ["transform-vue-jsx"],
  "env": {
    "utils": {
      "plugins": [
        ["module-resolver", {
          "root": ["eg-element-ui"],
          "alias": {
            "eg-element-ui/src": "eg-element-ui/lib"
          }
        }]
      ]
    }
  }
}
