{
  "presets": ["es2015"],
  "plugins": ["transform-vue-jsx"],
  "env": {
    "utils": {
      "plugins": [
        ["module-resolver", {
          "root": ["eg-element-ui-desk"],
          "alias": {
            "eg-element-ui-desk/src": "eg-element-ui-desk/lib"
          }
        }]
      ]
    }
  }
}
