@import "common/var";

@font-face {
  font-family: 'eaglesoft-icons';
  src: url('#{$--font-path}/eaglesoft-icons.woff') format('woff'), /* chrome, firefox */
       url('#{$--font-path}/eaglesoft-icons.ttf') format('truetype'); /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  font-weight: normal;
  font-display: $--font-display;
  font-style: normal;
}

[class^="eg-icon-"], [class*=" eg-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'eaglesoft-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: baseline;
  display: inline-block;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.eg-icon-toright:before {
  content: "\e92f";
}

.eg-icon-zhuanfa:before {
  content: "\e92a";
}

.eg-icon-time1:before {
  content: "\e922";
}

.eg-icon-lianglan:before {
  content: "\e915";
}

.eg-icon-yilan:before {
  content: "\e916";
}

.eg-icon-sanlan:before {
  content: "\e917";
}

.eg-icon-time2:before {
  content: "\e923";
}

.eg-icon-delete:before {
  content: "\e924";
}

.eg-icon-loading:before {
  content: "\e913";
}

.eg-icon-zhuanfa1:before {
  content: "\e92b";
}

.eg-icon-shuzi:before {
  content: "\e91b";
}

.eg-icon-huiyishi:before {
  content: "\e91d";
}

.eg-icon-2101fenxiang:before {
  content: "\e925";
}

.eg-icon-dazhuanfa:before {
  content: "\e92c";
}

.eg-icon-filter1:before {
  content: "\e930";
}

.eg-icon-add:before {
  content: "\e932";
}

.eg-icon-huiyishi1:before {
  content: "\e91f";
}

.eg-icon-share1:before {
  content: "\e926";
}

.eg-icon-gongsixinxi1:before {
  content: "\e920";
}

.eg-icon-bars:before {
  content: "\e601";
}

.eg-icon-calendar:before {
  content: "\e602";
}

.eg-icon-camera:before {
  content: "\e603";
}

.eg-icon-check:before {
  content: "\e604";
}

.eg-icon-check-square-o:before {
  content: "\e605";
}

.eg-icon-clock-o:before {
  content: "\e606";
}

.eg-icon-500px:before {
  content: "\e607";
}

.eg-icon-address-book-o:before {
  content: "\e608";
}

.eg-icon-address-book:before {
  content: "\e609";
}

.eg-icon-address-card-o:before {
  content: "\e60a";
}

.eg-icon-address-card:before {
  content: "\e60b";
}

.eg-icon-adjust:before {
  content: "\e60c";
}

.eg-icon-adn:before {
  content: "\e60d";
}

.eg-icon-align-center:before {
  content: "\e60e";
}

.eg-icon-align-justify:before {
  content: "\e60f";
}

.eg-icon-align-left:before {
  content: "\e610";
}

.eg-icon-align-right:before {
  content: "\e611";
}

.eg-icon-amazon:before {
  content: "\e612";
}

.eg-icon-ambulance:before {
  content: "\e613";
}

.eg-icon-american-sign-language-interpreting:before {
  content: "\e614";
}

.eg-icon-anchor:before {
  content: "\e615";
}

.eg-icon-android:before {
  content: "\e616";
}

.eg-icon-angellist:before {
  content: "\e617";
}

.eg-icon-angle-double-down:before {
  content: "\e618";
}

.eg-icon-angle-double-left:before {
  content: "\e619";
}

.eg-icon-angle-double-right:before {
  content: "\e61a";
}

.eg-icon-angle-double-up:before {
  content: "\e61b";
}

.eg-icon-angle-down:before {
  content: "\e61c";
}

.eg-icon-angle-left:before {
  content: "\e61d";
}

.eg-icon-angle-right:before {
  content: "\e61e";
}

.eg-icon-angle-up:before {
  content: "\e61f";
}

.eg-icon-apple:before {
  content: "\e620";
}

.eg-icon-archive:before {
  content: "\e621";
}

.eg-icon-area-chart:before {
  content: "\e622";
}

.eg-icon-arrow-circle-down:before {
  content: "\e623";
}

.eg-icon-arrow-circle-left:before {
  content: "\e624";
}

.eg-icon-arrow-circle-o-down:before {
  content: "\e625";
}

.eg-icon-arrow-circle-o-left:before {
  content: "\e626";
}

.eg-icon-arrow-circle-o-right:before {
  content: "\e627";
}

.eg-icon-arrow-circle-o-up:before {
  content: "\e628";
}

.eg-icon-arrow-circle-right:before {
  content: "\e629";
}

.eg-icon-arrow-circle-up:before {
  content: "\e62a";
}

.eg-icon-arrow-down:before {
  content: "\e62b";
}

.eg-icon-arrow-left:before {
  content: "\e62c";
}

.eg-icon-arrow-right:before {
  content: "\e62d";
}

.eg-icon-arrow-up:before {
  content: "\e62e";
}

.eg-icon-arrows-alt:before {
  content: "\e62f";
}

.eg-icon-arrows-h:before {
  content: "\e630";
}

.eg-icon-arrows-v:before {
  content: "\e631";
}

.eg-icon-arrows:before {
  content: "\e632";
}

.eg-icon-asl-interpreting:before {
  content: "\e633";
}

.eg-icon-assistive-listening-systems:before {
  content: "\e634";
}

.eg-icon-asterisk:before {
  content: "\e635";
}

.eg-icon-at:before {
  content: "\e636";
}

.eg-icon-audio-description:before {
  content: "\e637";
}

.eg-icon-automobile:before {
  content: "\e638";
}

.eg-icon-backward:before {
  content: "\e639";
}

.eg-icon-balance-scale:before {
  content: "\e63a";
}

.eg-icon-bandcamp:before {
  content: "\e63b";
}

.eg-icon-bank:before {
  content: "\e63c";
}

.eg-icon-bars1:before {
  content: "\e63d";
}

.eg-icon-bar-chart:before {
  content: "\e63e";
}

.eg-icon-bar-chart-o:before {
  content: "\e63f";
}

.eg-icon-bathtub:before {
  content: "\e640";
}

.eg-icon-barcode:before {
  content: "\e641";
}

.eg-icon-bath:before {
  content: "\e642";
}

.eg-icon-battery-0:before {
  content: "\e643";
}

.eg-icon-battery-1:before {
  content: "\e644";
}

.eg-icon-battery-2:before {
  content: "\e645";
}

.eg-icon-battery-4:before {
  content: "\e646";
}

.eg-icon-battery-3:before {
  content: "\e647";
}

.eg-icon-battery-half:before {
  content: "\e648";
}

.eg-icon-battery-empty:before {
  content: "\e649";
}

.eg-icon-battery-full:before {
  content: "\e64a";
}

.eg-icon-battery-quarter:before {
  content: "\e64b";
}

.eg-icon-battery-three-quarters:before {
  content: "\e64c";
}

.eg-icon-battery:before {
  content: "\e64d";
}

.eg-icon-beer:before {
  content: "\e64e";
}

.eg-icon-bed:before {
  content: "\e64f";
}

.eg-icon-behance:before {
  content: "\e650";
}

.eg-icon-behance-square:before {
  content: "\e651";
}

.eg-icon-bell-o:before {
  content: "\e652";
}

.eg-icon-bell-slash-o:before {
  content: "\e653";
}

.eg-icon-bell-slash:before {
  content: "\e654";
}

.eg-icon-bicycle:before {
  content: "\e655";
}

.eg-icon-bitbucket-square:before {
  content: "\e656";
}

.eg-icon-binoculars:before {
  content: "\e657";
}

.eg-icon-bell:before {
  content: "\e658";
}

.eg-icon-birthday-cake:before {
  content: "\e659";
}

.eg-icon-bitbucket:before {
  content: "\e65a";
}

.eg-icon-black-tie:before {
  content: "\e65b";
}

.eg-icon-bluetooth-b:before {
  content: "\e65c";
}

.eg-icon-bitcoin:before {
  content: "\e65d";
}

.eg-icon-blind:before {
  content: "\e65e";
}

.eg-icon-bluetooth:before {
  content: "\e65f";
}

.eg-icon-bold:before {
  content: "\e660";
}

.eg-icon-bolt:before {
  content: "\e661";
}

.eg-icon-bomb:before {
  content: "\e662";
}

.eg-icon-book:before {
  content: "\e663";
}

.eg-icon-bug:before {
  content: "\e664";
}

.eg-icon-bookmark-o:before {
  content: "\e665";
}

.eg-icon-btc:before {
  content: "\e666";
}

.eg-icon-bookmark:before {
  content: "\e667";
}

.eg-icon-briefcase:before {
  content: "\e668";
}

.eg-icon-braille:before {
  content: "\e669";
}

.eg-icon-bullhorn:before {
  content: "\e66a";
}

.eg-icon-bullseye:before {
  content: "\e66b";
}

.eg-icon-bus:before {
  content: "\e66c";
}

.eg-icon-building:before {
  content: "\e66d";
}

.eg-icon-cab:before {
  content: "\e66e";
}

.eg-icon-buysellads:before {
  content: "\e66f";
}

.eg-icon-building-o:before {
  content: "\e670";
}

.eg-icon-calendar-plus-o:before {
  content: "\e671";
}

.eg-icon-calendar-o:before {
  content: "\e672";
}

.eg-icon-calendar-times-o:before {
  content: "\e673";
}

.eg-icon-calendar-check-o:before {
  content: "\e674";
}

.eg-icon-calendar-minus-o:before {
  content: "\e675";
}

.eg-icon-calculator:before {
  content: "\e676";
}

.eg-icon-caret-down:before {
  content: "\e677";
}

.eg-icon-caret-left:before {
  content: "\e678";
}

.eg-icon-car:before {
  content: "\e679";
}

.eg-icon-camera-retro:before {
  content: "\e67a";
}

.eg-icon-caret-right:before {
  content: "\e67b";
}

.eg-icon-caret-square-o-left:before {
  content: "\e67c";
}

.eg-icon-caret-square-o-right:before {
  content: "\e67d";
}

.eg-icon-caret-up:before {
  content: "\e67e";
}

.eg-icon-caret-square-o-up:before {
  content: "\e67f";
}

.eg-icon-cart-plus:before {
  content: "\e680";
}

.eg-icon-cart-arrow-down:before {
  content: "\e681";
}

.eg-icon-caret-square-o-down:before {
  content: "\e682";
}

.eg-icon-cc-discover:before {
  content: "\e683";
}

.eg-icon-cc-diners-club:before {
  content: "\e684";
}

.eg-icon-cc-paypal:before {
  content: "\e685";
}

.eg-icon-cc-jcb:before {
  content: "\e686";
}

.eg-icon-cc-mastercard:before {
  content: "\e687";
}

.eg-icon-cc-amex:before {
  content: "\e688";
}

.eg-icon-cc:before {
  content: "\e689";
}

.eg-icon-cc-visa:before {
  content: "\e68a";
}

.eg-icon-cc-stripe:before {
  content: "\e68b";
}

.eg-icon-check1:before {
  content: "\e68c";
}

.eg-icon-certificate:before {
  content: "\e68d";
}

.eg-icon-check-circle:before {
  content: "\e68e";
}

.eg-icon-check-circle-o:before {
  content: "\e68f";
}

.eg-icon-chain-broken:before {
  content: "\e690";
}

.eg-icon-chain:before {
  content: "\e691";
}

.eg-icon-chevron-circle-down:before {
  content: "\e692";
}

.eg-icon-chevron-circle-left:before {
  content: "\e693";
}

.eg-icon-chevron-circle-right:before {
  content: "\e694";
}

.eg-icon-chevron-down:before {
  content: "\e695";
}

.eg-icon-chevron-circle-up:before {
  content: "\e696";
}

.eg-icon-chevron-left:before {
  content: "\e697";
}

.eg-icon-chevron-right:before {
  content: "\e698";
}

.eg-icon-chevron-up:before {
  content: "\e699";
}

.eg-icon-child:before {
  content: "\e69a";
}

.eg-icon-circle-thin:before {
  content: "\e69b";
}

.eg-icon-circle-o-notch:before {
  content: "\e69c";
}

.eg-icon-chrome:before {
  content: "\e69d";
}

.eg-icon-circle-o:before {
  content: "\e69e";
}

.eg-icon-clipboard:before {
  content: "\e69f";
}

.eg-icon-circle:before {
  content: "\e6a0";
}

.eg-icon-cloud:before {
  content: "\e6a1";
}

.eg-icon-close:before {
  content: "\e6a2";
}

.eg-icon-cloud-upload:before {
  content: "\e6a3";
}

.eg-icon-clone:before {
  content: "\e6a4";
}

.eg-icon-cloud-download:before {
  content: "\e6a5";
}

.eg-icon-clock-o1:before {
  content: "\e6a6";
}

.eg-icon-cny:before {
  content: "\e6a7";
}

.eg-icon-code-fork:before {
  content: "\e6a8";
}

.eg-icon-codiepie:before {
  content: "\e6a9";
}

.eg-icon-codepen:before {
  content: "\e6aa";
}

.eg-icon-code:before {
  content: "\e6ab";
}

.eg-icon-cog:before {
  content: "\e6ac";
}

.eg-icon-coffee:before {
  content: "\e6ad";
}

.eg-icon-columns:before {
  content: "\e6ae";
}

.eg-icon-comment-o:before {
  content: "\e6af";
}

.eg-icon-commenting-o:before {
  content: "\e6b0";
}

.eg-icon-commenting:before {
  content: "\e6b1";
}

.eg-icon-comment:before {
  content: "\e6b2";
}

.eg-icon-cogs:before {
  content: "\e6b3";
}

.eg-icon-compass:before {
  content: "\e6b4";
}

.eg-icon-compress:before {
  content: "\e6b5";
}

.eg-icon-comments:before {
  content: "\e6b6";
}

.eg-icon-comments-o:before {
  content: "\e6b7";
}

.eg-icon-connectdevelop:before {
  content: "\e6b8";
}

.eg-icon-copy:before {
  content: "\e6b9";
}

.eg-icon-contao:before {
  content: "\e6ba";
}

.eg-icon-copyright:before {
  content: "\e6bb";
}

.eg-icon-credit-card-alt:before {
  content: "\e6bc";
}

.eg-icon-credit-card:before {
  content: "\e6bd";
}

.eg-icon-crop:before {
  content: "\e6be";
}

.eg-icon-creative-commons:before {
  content: "\e6bf";
}

.eg-icon-crosshairs:before {
  content: "\e6c0";
}

.eg-icon-css3:before {
  content: "\e6c1";
}

.eg-icon-cube:before {
  content: "\e6c2";
}

.eg-icon-cutlery:before {
  content: "\e6c3";
}

.eg-icon-cut:before {
  content: "\e6c4";
}

.eg-icon-dashboard:before {
  content: "\e6c5";
}

.eg-icon-dashcube:before {
  content: "\e6c6";
}

.eg-icon-cubes:before {
  content: "\e6c7";
}

.eg-icon-database:before {
  content: "\e6c8";
}

.eg-icon-deaf:before {
  content: "\e6c9";
}

.eg-icon-delicious:before {
  content: "\e6ca";
}

.eg-icon-deviantart:before {
  content: "\e6cb";
}

.eg-icon-diamond:before {
  content: "\e6cc";
}

.eg-icon-dedent:before {
  content: "\e6cd";
}

.eg-icon-desktop:before {
  content: "\e6ce";
}

.eg-icon-deafness:before {
  content: "\e6cf";
}

.eg-icon-drivers-license-o:before {
  content: "\e6d0";
}

.eg-icon-digg:before {
  content: "\e6d1";
}

.eg-icon-dribbble:before {
  content: "\e6d2";
}

.eg-icon-download:before {
  content: "\e6d3";
}

.eg-icon-dollar:before {
  content: "\e6d4";
}

.eg-icon-dot-circle-o:before {
  content: "\e6d5";
}

.eg-icon-edit:before {
  content: "\e6d6";
}

.eg-icon-dropbox:before {
  content: "\e6d7";
}

.eg-icon-edge:before {
  content: "\e6d8";
}

.eg-icon-drupal:before {
  content: "\e6d9";
}

.eg-icon-drivers-license:before {
  content: "\e6da";
}

.eg-icon-eject:before {
  content: "\e6db";
}

.eg-icon-ellipsis-h:before {
  content: "\e6dc";
}

.eg-icon-envelope-o:before {
  content: "\e6dd";
}

.eg-icon-ellipsis-v:before {
  content: "\e6de";
}

.eg-icon-eercast:before {
  content: "\e6df";
}

.eg-icon-empire:before {
  content: "\e6e0";
}

.eg-icon-envelope-open-o:before {
  content: "\e6e1";
}

.eg-icon-envelope-open:before {
  content: "\e6e2";
}

.eg-icon-envelope:before {
  content: "\e6e3";
}

.eg-icon-envelope-square:before {
  content: "\e6e4";
}

.eg-icon-envira:before {
  content: "\e6e5";
}

.eg-icon-etsy:before {
  content: "\e6e6";
}

.eg-icon-eraser:before {
  content: "\e6e7";
}

.eg-icon-eur:before {
  content: "\e6e8";
}

.eg-icon-euro:before {
  content: "\e6e9";
}

.eg-icon-exchange:before {
  content: "\e6ea";
}

.eg-icon-exclamation-triangle:before {
  content: "\e6eb";
}

.eg-icon-expand:before {
  content: "\e6ec";
}

.eg-icon-exclamation:before {
  content: "\e6ed";
}

.eg-icon-exclamation-circle:before {
  content: "\e6ee";
}

.eg-icon-expeditedssl:before {
  content: "\e6ef";
}

.eg-icon-external-link-square:before {
  content: "\e6f0";
}

.eg-icon-eyedropper:before {
  content: "\e6f1";
}

.eg-icon-external-link:before {
  content: "\e6f2";
}

.eg-icon-eye:before {
  content: "\e6f3";
}

.eg-icon-eye-slash:before {
  content: "\e6f4";
}

.eg-icon-fa:before {
  content: "\e6f5";
}

.eg-icon-facebook-official:before {
  content: "\e6f6";
}

.eg-icon-facebook-f:before {
  content: "\e6f7";
}

.eg-icon-facebook-square:before {
  content: "\e6f8";
}

.eg-icon-facebook:before {
  content: "\e6f9";
}

.eg-icon-fast-backward:before {
  content: "\e6fa";
}

.eg-icon-fast-forward:before {
  content: "\e6fb";
}

.eg-icon-feed:before {
  content: "\e6fc";
}

.eg-icon-file-archive-o:before {
  content: "\e6fd";
}

.eg-icon-female:before {
  content: "\e6fe";
}

.eg-icon-file-audio-o:before {
  content: "\e6ff";
}

.eg-icon-fighter-jet:before {
  content: "\e700";
}

.eg-icon-fax:before {
  content: "\e701";
}

.eg-icon-file-code-o:before {
  content: "\e702";
}

.eg-icon-file-movie-o:before {
  content: "\e703";
}

.eg-icon-file-image-o:before {
  content: "\e704";
}

.eg-icon-file-excel-o:before {
  content: "\e705";
}

.eg-icon-file-o:before {
  content: "\e706";
}

.eg-icon-file-photo-o:before {
  content: "\e707";
}

.eg-icon-file-pdf-o:before {
  content: "\e708";
}

.eg-icon-file-picture-o:before {
  content: "\e709";
}

.eg-icon-file-sound-o:before {
  content: "\e70a";
}

.eg-icon-file-powerpoint-o:before {
  content: "\e70b";
}

.eg-icon-file-text:before {
  content: "\e70c";
}

.eg-icon-file-text-o:before {
  content: "\e70d";
}

.eg-icon-file:before {
  content: "\e70e";
}

.eg-icon-file-video-o:before {
  content: "\e70f";
}

.eg-icon-files-o:before {
  content: "\e710";
}

.eg-icon-file-zip-o:before {
  content: "\e711";
}

.eg-icon-file-word-o:before {
  content: "\e712";
}

.eg-icon-film:before {
  content: "\e713";
}

.eg-icon-filter:before {
  content: "\e714";
}

.eg-icon-fire:before {
  content: "\e715";
}

.eg-icon-fire-extinguisher:before {
  content: "\e716";
}

.eg-icon-flag-checkered:before {
  content: "\e717";
}

.eg-icon-firefox:before {
  content: "\e718";
}

.eg-icon-first-order:before {
  content: "\e719";
}

.eg-icon-flash:before {
  content: "\e71a";
}

.eg-icon-flag:before {
  content: "\e71b";
}

.eg-icon-flag-o:before {
  content: "\e71c";
}

.eg-icon-flask:before {
  content: "\e71d";
}

.eg-icon-flickr:before {
  content: "\e71e";
}

.eg-icon-folder-open:before {
  content: "\e71f";
}

.eg-icon-folder-o:before {
  content: "\e720";
}

.eg-icon-font-awesome:before {
  content: "\e721";
}

.eg-icon-folder:before {
  content: "\e722";
}

.eg-icon-floppy-o:before {
  content: "\e723";
}

.eg-icon-folder-open-o:before {
  content: "\e724";
}

.eg-icon-fonticons:before {
  content: "\e725";
}

.eg-icon-font:before {
  content: "\e726";
}

.eg-icon-forumbee:before {
  content: "\e727";
}

.eg-icon-fort-awesome:before {
  content: "\e728";
}

.eg-icon-forward:before {
  content: "\e729";
}

.eg-icon-foursquare:before {
  content: "\e72a";
}

.eg-icon-free-code-camp:before {
  content: "\e72b";
}

.eg-icon-frown-o:before {
  content: "\e72c";
}

.eg-icon-futbol-o:before {
  content: "\e72d";
}

.eg-icon-gamepad:before {
  content: "\e72e";
}

.eg-icon-gavel:before {
  content: "\e72f";
}

.eg-icon-gbp:before {
  content: "\e730";
}

.eg-icon-ge:before {
  content: "\e731";
}

.eg-icon-gear:before {
  content: "\e732";
}

.eg-icon-gears:before {
  content: "\e733";
}

.eg-icon-genderless:before {
  content: "\e734";
}

.eg-icon-get-pocket:before {
  content: "\e735";
}

.eg-icon-gg-circle:before {
  content: "\e736";
}

.eg-icon-gift:before {
  content: "\e737";
}

.eg-icon-gg:before {
  content: "\e738";
}

.eg-icon-git-square:before {
  content: "\e739";
}

.eg-icon-git:before {
  content: "\e73a";
}

.eg-icon-github-alt:before {
  content: "\e73b";
}

.eg-icon-github-square:before {
  content: "\e73c";
}

.eg-icon-github:before {
  content: "\e73d";
}

.eg-icon-gitlab:before {
  content: "\e73e";
}

.eg-icon-gittip:before {
  content: "\e73f";
}

.eg-icon-glass:before {
  content: "\e740";
}

.eg-icon-glide-g:before {
  content: "\e741";
}

.eg-icon-glide:before {
  content: "\e742";
}

.eg-icon-globe:before {
  content: "\e743";
}

.eg-icon-google-plus-circle:before {
  content: "\e744";
}

.eg-icon-google-plus-official:before {
  content: "\e745";
}

.eg-icon-google-plus-square:before {
  content: "\e746";
}

.eg-icon-google-plus:before {
  content: "\e747";
}

.eg-icon-google-wallet:before {
  content: "\e748";
}

.eg-icon-google:before {
  content: "\e749";
}

.eg-icon-graduation-cap:before {
  content: "\e74a";
}

.eg-icon-gratipay:before {
  content: "\e74b";
}

.eg-icon-grav:before {
  content: "\e74c";
}

.eg-icon-group:before {
  content: "\e74d";
}

.eg-icon-h-square:before {
  content: "\e74e";
}

.eg-icon-hacker-news:before {
  content: "\e74f";
}

.eg-icon-hand-grab-o:before {
  content: "\e750";
}

.eg-icon-hand-o-left:before {
  content: "\e751";
}

.eg-icon-hand-lizard-o:before {
  content: "\e752";
}

.eg-icon-hand-o-down:before {
  content: "\e753";
}

.eg-icon-hand-o-right:before {
  content: "\e754";
}

.eg-icon-hand-o-up:before {
  content: "\e755";
}

.eg-icon-hand-paper-o:before {
  content: "\e756";
}

.eg-icon-hand-pointer-o:before {
  content: "\e757";
}

.eg-icon-hand-peace-o:before {
  content: "\e758";
}

.eg-icon-hand-spock-o:before {
  content: "\e759";
}

.eg-icon-hand-rock-o:before {
  content: "\e75a";
}

.eg-icon-hand-scissors-o:before {
  content: "\e75b";
}

.eg-icon-hand-stop-o:before {
  content: "\e75c";
}

.eg-icon-hard-of-hearing:before {
  content: "\e75d";
}

.eg-icon-handshake-o:before {
  content: "\e75e";
}

.eg-icon-hashtag:before {
  content: "\e75f";
}

.eg-icon-headphones:before {
  content: "\e760";
}

.eg-icon-header:before {
  content: "\e761";
}

.eg-icon-hdd-o:before {
  content: "\e762";
}

.eg-icon-heart-o:before {
  content: "\e763";
}

.eg-icon-heart:before {
  content: "\e764";
}

.eg-icon-hotel:before {
  content: "\e765";
}

.eg-icon-heartbeat:before {
  content: "\e766";
}

.eg-icon-hourglass-1:before {
  content: "\e767";
}

.eg-icon-home:before {
  content: "\e768";
}

.eg-icon-history:before {
  content: "\e769";
}

.eg-icon-hourglass-2:before {
  content: "\e76a";
}

.eg-icon-hospital-o:before {
  content: "\e76b";
}

.eg-icon-hourglass-3:before {
  content: "\e76c";
}

.eg-icon-hourglass-half:before {
  content: "\e76d";
}

.eg-icon-hourglass-end:before {
  content: "\e76e";
}

.eg-icon-hourglass-o:before {
  content: "\e76f";
}

.eg-icon-hourglass-start:before {
  content: "\e770";
}

.eg-icon-houzz:before {
  content: "\e771";
}

.eg-icon-html5:before {
  content: "\e772";
}

.eg-icon-hourglass:before {
  content: "\e773";
}

.eg-icon-id-badge:before {
  content: "\e774";
}

.eg-icon-i-cursor:before {
  content: "\e775";
}

.eg-icon-id-card:before {
  content: "\e776";
}

.eg-icon-ils:before {
  content: "\e777";
}

.eg-icon-id-card-o:before {
  content: "\e778";
}

.eg-icon-image:before {
  content: "\e779";
}

.eg-icon-inbox:before {
  content: "\e77a";
}

.eg-icon-indent:before {
  content: "\e77b";
}

.eg-icon-industry:before {
  content: "\e77c";
}

.eg-icon-imdb:before {
  content: "\e77d";
}

.eg-icon-info:before {
  content: "\e77e";
}

.eg-icon-institution:before {
  content: "\e77f";
}

.eg-icon-info-circle:before {
  content: "\e780";
}

.eg-icon-internet-explorer:before {
  content: "\e781";
}

.eg-icon-inr:before {
  content: "\e782";
}

.eg-icon-instagram:before {
  content: "\e783";
}

.eg-icon-ioxhost:before {
  content: "\e784";
}

.eg-icon-joomla:before {
  content: "\e785";
}

.eg-icon-jpy:before {
  content: "\e786";
}

.eg-icon-intersex:before {
  content: "\e787";
}

.eg-icon-jsfiddle:before {
  content: "\e788";
}

.eg-icon-italic:before {
  content: "\e789";
}

.eg-icon-key:before {
  content: "\e78a";
}

.eg-icon-keyboard-o:before {
  content: "\e78b";
}

.eg-icon-krw:before {
  content: "\e78c";
}

.eg-icon-laptop:before {
  content: "\e78d";
}

.eg-icon-language:before {
  content: "\e78e";
}

.eg-icon-leaf:before {
  content: "\e78f";
}

.eg-icon-lastfm:before {
  content: "\e790";
}

.eg-icon-lastfm-square:before {
  content: "\e791";
}

.eg-icon-legal:before {
  content: "\e792";
}

.eg-icon-leanpub:before {
  content: "\e793";
}

.eg-icon-level-down:before {
  content: "\e794";
}

.eg-icon-level-up:before {
  content: "\e795";
}

.eg-icon-life-ring:before {
  content: "\e796";
}

.eg-icon-life-buoy:before {
  content: "\e797";
}

.eg-icon-life-bouy:before {
  content: "\e798";
}

.eg-icon-lemon-o:before {
  content: "\e799";
}

.eg-icon-lightbulb-o:before {
  content: "\e79a";
}

.eg-icon-life-saver:before {
  content: "\e79b";
}

.eg-icon-line-chart:before {
  content: "\e79c";
}

.eg-icon-linkedin:before {
  content: "\e79d";
}

.eg-icon-linkedin-square:before {
  content: "\e79e";
}

.eg-icon-link:before {
  content: "\e79f";
}

.eg-icon-linode:before {
  content: "\e7a0";
}

.eg-icon-list:before {
  content: "\e7a1";
}

.eg-icon-list-ul:before {
  content: "\e7a2";
}

.eg-icon-linux:before {
  content: "\e7a3";
}

.eg-icon-list-ol:before {
  content: "\e7a4";
}

.eg-icon-list-alt:before {
  content: "\e7a5";
}

.eg-icon-location-arrow:before {
  content: "\e7a6";
}

.eg-icon-lock:before {
  content: "\e7a7";
}

.eg-icon-long-arrow-up:before {
  content: "\e7a8";
}

.eg-icon-long-arrow-right:before {
  content: "\e7a9";
}

.eg-icon-long-arrow-left:before {
  content: "\e7aa";
}

.eg-icon-long-arrow-down:before {
  content: "\e7ab";
}

.eg-icon-magic:before {
  content: "\e7ac";
}

.eg-icon-magnet:before {
  content: "\e7ad";
}

.eg-icon-low-vision:before {
  content: "\e7ae";
}

.eg-icon-mail-reply-all:before {
  content: "\e7af";
}

.eg-icon-mail-reply:before {
  content: "\e7b0";
}

.eg-icon-mail-forward:before {
  content: "\e7b1";
}

.eg-icon-male:before {
  content: "\e7b2";
}

.eg-icon-map-pin:before {
  content: "\e7b3";
}

.eg-icon-map-o:before {
  content: "\e7b4";
}

.eg-icon-map-marker:before {
  content: "\e7b5";
}

.eg-icon-map:before {
  content: "\e7b6";
}

.eg-icon-map-signs:before {
  content: "\e7b7";
}

.eg-icon-mars-stroke-h:before {
  content: "\e7b8";
}

.eg-icon-mars-stroke:before {
  content: "\e7b9";
}

.eg-icon-mars-stroke-v:before {
  content: "\e7ba";
}

.eg-icon-mars-double:before {
  content: "\e7bb";
}

.eg-icon-mars:before {
  content: "\e7bc";
}

.eg-icon-maxcdn:before {
  content: "\e7bd";
}

.eg-icon-medium:before {
  content: "\e7be";
}

.eg-icon-medkit:before {
  content: "\e7bf";
}

.eg-icon-meanpath:before {
  content: "\e7c0";
}

.eg-icon-meetup:before {
  content: "\e7c1";
}

.eg-icon-meh-o:before {
  content: "\e7c2";
}

.eg-icon-mercury:before {
  content: "\e7c3";
}

.eg-icon-microphone:before {
  content: "\e7c4";
}

.eg-icon-minus-circle:before {
  content: "\e7c5";
}

.eg-icon-minus-square:before {
  content: "\e7c6";
}

.eg-icon-minus-square-o:before {
  content: "\e7c7";
}

.eg-icon-microchip:before {
  content: "\e7c8";
}

.eg-icon-microphone-slash:before {
  content: "\e7c9";
}

.eg-icon-minus:before {
  content: "\e7ca";
}

.eg-icon-mixcloud:before {
  content: "\e7cb";
}

.eg-icon-mobile:before {
  content: "\e7cc";
}

.eg-icon-modx:before {
  content: "\e7cd";
}

.eg-icon-money:before {
  content: "\e7ce";
}

.eg-icon-moon-o:before {
  content: "\e7cf";
}

.eg-icon-motorcycle:before {
  content: "\e7d0";
}

.eg-icon-mouse-pointer:before {
  content: "\e7d1";
}

.eg-icon-mortar-board:before {
  content: "\e7d2";
}

.eg-icon-navicon:before {
  content: "\e7d3";
}

.eg-icon-neuter:before {
  content: "\e7d4";
}

.eg-icon-music:before {
  content: "\e7d5";
}

.eg-icon-object-group:before {
  content: "\e7d6";
}

.eg-icon-newspaper-o:before {
  content: "\e7d7";
}

.eg-icon-object-ungroup:before {
  content: "\e7d8";
}

.eg-icon-odnoklassniki-square:before {
  content: "\e7d9";
}

.eg-icon-odnoklassniki:before {
  content: "\e7da";
}

.eg-icon-opencart:before {
  content: "\e7db";
}

.eg-icon-openid:before {
  content: "\e7dc";
}

.eg-icon-opera:before {
  content: "\e7dd";
}

.eg-icon-paper-plane-o:before {
  content: "\e7de";
}

.eg-icon-pagelines:before {
  content: "\e7df";
}

.eg-icon-outdent:before {
  content: "\e7e0";
}

.eg-icon-paper-plane:before {
  content: "\e7e1";
}

.eg-icon-paint-brush:before {
  content: "\e7e2";
}

.eg-icon-paragraph:before {
  content: "\e7e3";
}

.eg-icon-paperclip:before {
  content: "\e7e4";
}

.eg-icon-optin-monster:before {
  content: "\e7e5";
}

.eg-icon-pause-circle-o:before {
  content: "\e7e6";
}

.eg-icon-paste:before {
  content: "\e7e7";
}

.eg-icon-pause:before {
  content: "\e7e8";
}

.eg-icon-pause-circle:before {
  content: "\e7e9";
}

.eg-icon-paw:before {
  content: "\e7ea";
}

.eg-icon-paypal:before {
  content: "\e7eb";
}

.eg-icon-pencil-square-o:before {
  content: "\e7ec";
}

.eg-icon-percent:before {
  content: "\e7ed";
}

.eg-icon-pencil-square:before {
  content: "\e7ee";
}

.eg-icon-pencil:before {
  content: "\e7ef";
}

.eg-icon-phone-square:before {
  content: "\e7f0";
}

.eg-icon-phone:before {
  content: "\e7f1";
}

.eg-icon-photo:before {
  content: "\e7f2";
}

.eg-icon-picture-o:before {
  content: "\e7f3";
}

.eg-icon-pie-chart:before {
  content: "\e7f4";
}

.eg-icon-pied-piper-pp:before {
  content: "\e7f5";
}

.eg-icon-pied-piper-alt:before {
  content: "\e7f6";
}

.eg-icon-pinterest-p:before {
  content: "\e7f7";
}

.eg-icon-plane:before {
  content: "\e7f8";
}

.eg-icon-play-circle-o:before {
  content: "\e7f9";
}

.eg-icon-pied-piper:before {
  content: "\e7fa";
}

.eg-icon-pinterest:before {
  content: "\e7fb";
}

.eg-icon-pinterest-square:before {
  content: "\e7fc";
}

.eg-icon-play:before {
  content: "\e7fd";
}

.eg-icon-play-circle:before {
  content: "\e7fe";
}

.eg-icon-plug:before {
  content: "\e7ff";
}

.eg-icon-plus-square-o:before {
  content: "\e800";
}

.eg-icon-plus-square:before {
  content: "\e801";
}

.eg-icon-plus-circle:before {
  content: "\e802";
}

.eg-icon-plus:before {
  content: "\e803";
}

.eg-icon-product-hunt:before {
  content: "\e804";
}

.eg-icon-print:before {
  content: "\e805";
}

.eg-icon-puzzle-piece:before {
  content: "\e806";
}

.eg-icon-podcast:before {
  content: "\e807";
}

.eg-icon-power-off:before {
  content: "\e808";
}

.eg-icon-qq:before {
  content: "\e809";
}

.eg-icon-question:before {
  content: "\e80a";
}

.eg-icon-qrcode:before {
  content: "\e80b";
}

.eg-icon-quora:before {
  content: "\e80c";
}

.eg-icon-question-circle-o:before {
  content: "\e80d";
}

.eg-icon-question-circle:before {
  content: "\e80e";
}

.eg-icon-quote-left:before {
  content: "\e80f";
}

.eg-icon-quote-right:before {
  content: "\e810";
}

.eg-icon-ra:before {
  content: "\e811";
}

.eg-icon-ravelry:before {
  content: "\e812";
}

.eg-icon-rebel:before {
  content: "\e813";
}

.eg-icon-random:before {
  content: "\e814";
}

.eg-icon-reddit-square:before {
  content: "\e815";
}

.eg-icon-reddit-alien:before {
  content: "\e816";
}

.eg-icon-recycle:before {
  content: "\e817";
}

.eg-icon-reddit:before {
  content: "\e818";
}

.eg-icon-registered:before {
  content: "\e819";
}

.eg-icon-refresh:before {
  content: "\e81a";
}

.eg-icon-renren:before {
  content: "\e81b";
}

.eg-icon-reorder:before {
  content: "\e81c";
}

.eg-icon-repeat:before {
  content: "\e81d";
}

.eg-icon-reply-all:before {
  content: "\e81e";
}

.eg-icon-remove:before {
  content: "\e81f";
}

.eg-icon-rmb:before {
  content: "\e820";
}

.eg-icon-resistance:before {
  content: "\e821";
}

.eg-icon-road:before {
  content: "\e822";
}

.eg-icon-retweet:before {
  content: "\e823";
}

.eg-icon-reply:before {
  content: "\e824";
}

.eg-icon-rocket:before {
  content: "\e825";
}

.eg-icon-rotate-left:before {
  content: "\e826";
}

.eg-icon-rouble:before {
  content: "\e827";
}

.eg-icon-rotate-right:before {
  content: "\e828";
}

.eg-icon-rss:before {
  content: "\e829";
}

.eg-icon-rss-square:before {
  content: "\e82a";
}

.eg-icon-ruble:before {
  content: "\e82b";
}

.eg-icon-rub:before {
  content: "\e82c";
}

.eg-icon-s15:before {
  content: "\e82d";
}

.eg-icon-save:before {
  content: "\e82e";
}

.eg-icon-rupee:before {
  content: "\e82f";
}

.eg-icon-safari:before {
  content: "\e830";
}

.eg-icon-scissors:before {
  content: "\e831";
}

.eg-icon-scribd:before {
  content: "\e832";
}

.eg-icon-search-plus:before {
  content: "\e833";
}

.eg-icon-search:before {
  content: "\e834";
}

.eg-icon-sellsy:before {
  content: "\e835";
}

.eg-icon-send:before {
  content: "\e836";
}

.eg-icon-send-o:before {
  content: "\e837";
}

.eg-icon-search-minus:before {
  content: "\e838";
}

.eg-icon-server:before {
  content: "\e839";
}

.eg-icon-share-alt-square:before {
  content: "\e83a";
}

.eg-icon-share-alt:before {
  content: "\e83b";
}

.eg-icon-share-square-o:before {
  content: "\e83c";
}

.eg-icon-share:before {
  content: "\e83d";
}

.eg-icon-share-square:before {
  content: "\e83e";
}

.eg-icon-shekel:before {
  content: "\e83f";
}

.eg-icon-sheqel:before {
  content: "\e840";
}

.eg-icon-shield:before {
  content: "\e841";
}

.eg-icon-ship:before {
  content: "\e842";
}

.eg-icon-shirtsinbulk:before {
  content: "\e843";
}

.eg-icon-shower:before {
  content: "\e844";
}

.eg-icon-sign-in:before {
  content: "\e845";
}

.eg-icon-shopping-basket:before {
  content: "\e846";
}

.eg-icon-shopping-cart:before {
  content: "\e847";
}

.eg-icon-shopping-bag:before {
  content: "\e848";
}

.eg-icon-sign-language:before {
  content: "\e849";
}

.eg-icon-sign-out:before {
  content: "\e84a";
}

.eg-icon-signal:before {
  content: "\e84b";
}

.eg-icon-simplybuilt:before {
  content: "\e84c";
}

.eg-icon-sitemap:before {
  content: "\e84d";
}

.eg-icon-signing:before {
  content: "\e84e";
}

.eg-icon-sliders:before {
  content: "\e84f";
}

.eg-icon-skype:before {
  content: "\e850";
}

.eg-icon-skyatlas:before {
  content: "\e851";
}

.eg-icon-slack:before {
  content: "\e852";
}

.eg-icon-slideshare:before {
  content: "\e853";
}

.eg-icon-snapchat-square:before {
  content: "\e854";
}

.eg-icon-snapchat-ghost:before {
  content: "\e855";
}

.eg-icon-smile-o:before {
  content: "\e856";
}

.eg-icon-snapchat:before {
  content: "\e857";
}

.eg-icon-snowflake-o:before {
  content: "\e858";
}

.eg-icon-soccer-ball-o:before {
  content: "\e859";
}

.eg-icon-sort-alpha-asc:before {
  content: "\e85a";
}

.eg-icon-sort-alpha-desc:before {
  content: "\e85b";
}

.eg-icon-sort-amount-asc:before {
  content: "\e85c";
}

.eg-icon-sort-desc:before {
  content: "\e85d";
}

.eg-icon-sort-down:before {
  content: "\e85e";
}

.eg-icon-sort-numeric-asc:before {
  content: "\e85f";
}

.eg-icon-sort-asc:before {
  content: "\e860";
}

.eg-icon-sort-amount-desc:before {
  content: "\e861";
}

.eg-icon-sort-numeric-desc:before {
  content: "\e862";
}

.eg-icon-sort-up:before {
  content: "\e863";
}

.eg-icon-sort:before {
  content: "\e864";
}

.eg-icon-soundcloud:before {
  content: "\e865";
}

.eg-icon-space-shuttle:before {
  content: "\e866";
}

.eg-icon-spinner:before {
  content: "\e867";
}

.eg-icon-spoon:before {
  content: "\e868";
}

.eg-icon-square-o:before {
  content: "\e869";
}

.eg-icon-spotify:before {
  content: "\e86a";
}

.eg-icon-square:before {
  content: "\e86b";
}

.eg-icon-stack-exchange:before {
  content: "\e86c";
}

.eg-icon-star-half-empty:before {
  content: "\e86d";
}

.eg-icon-stack-overflow:before {
  content: "\e86e";
}

.eg-icon-star-half:before {
  content: "\e86f";
}

.eg-icon-star:before {
  content: "\e870";
}

.eg-icon-star-half-o:before {
  content: "\e871";
}

.eg-icon-star-o:before {
  content: "\e872";
}

.eg-icon-star-half-full:before {
  content: "\e873";
}

.eg-icon-sticky-note-o:before {
  content: "\e874";
}

.eg-icon-step-forward:before {
  content: "\e875";
}

.eg-icon-steam:before {
  content: "\e876";
}

.eg-icon-steam-square:before {
  content: "\e877";
}

.eg-icon-stethoscope:before {
  content: "\e878";
}

.eg-icon-step-backward:before {
  content: "\e879";
}

.eg-icon-stop:before {
  content: "\e87a";
}

.eg-icon-stop-circle:before {
  content: "\e87b";
}

.eg-icon-stop-circle-o:before {
  content: "\e87c";
}

.eg-icon-sticky-note:before {
  content: "\e87d";
}

.eg-icon-street-view:before {
  content: "\e87e";
}

.eg-icon-strikethrough:before {
  content: "\e87f";
}

.eg-icon-stumbleupon:before {
  content: "\e880";
}

.eg-icon-subway:before {
  content: "\e881";
}

.eg-icon-stumbleupon-circle:before {
  content: "\e882";
}

.eg-icon-suitcase:before {
  content: "\e883";
}

.eg-icon-subscript:before {
  content: "\e884";
}

.eg-icon-sun-o:before {
  content: "\e885";
}

.eg-icon-superpowers:before {
  content: "\e886";
}

.eg-icon-tablet:before {
  content: "\e887";
}

.eg-icon-table:before {
  content: "\e888";
}

.eg-icon-support:before {
  content: "\e889";
}

.eg-icon-superscript:before {
  content: "\e88a";
}

.eg-icon-tasks:before {
  content: "\e88b";
}

.eg-icon-tags:before {
  content: "\e88c";
}

.eg-icon-tag:before {
  content: "\e88d";
}

.eg-icon-tachometer:before {
  content: "\e88e";
}

.eg-icon-telegram:before {
  content: "\e88f";
}

.eg-icon-taxi:before {
  content: "\e890";
}

.eg-icon-terminal:before {
  content: "\e891";
}

.eg-icon-tencent-weibo:before {
  content: "\e892";
}

.eg-icon-television:before {
  content: "\e893";
}

.eg-icon-text-height:before {
  content: "\e894";
}

.eg-icon-text-width:before {
  content: "\e895";
}

.eg-icon-th-large:before {
  content: "\e896";
}

.eg-icon-th-list:before {
  content: "\e897";
}

.eg-icon-thermometer-0:before {
  content: "\e898";
}

.eg-icon-th:before {
  content: "\e899";
}

.eg-icon-themeisle:before {
  content: "\e89a";
}

.eg-icon-thermometer-1:before {
  content: "\e89b";
}

.eg-icon-thermometer-2:before {
  content: "\e89c";
}

.eg-icon-thermometer-3:before {
  content: "\e89d";
}

.eg-icon-thermometer-4:before {
  content: "\e89e";
}

.eg-icon-thermometer-empty:before {
  content: "\e89f";
}

.eg-icon-thermometer-full:before {
  content: "\e8a0";
}

.eg-icon-thermometer-half:before {
  content: "\e8a1";
}

.eg-icon-thumb-tack:before {
  content: "\e8a2";
}

.eg-icon-thermometer-three-quarters:before {
  content: "\e8a3";
}

.eg-icon-thermometer-quarter:before {
  content: "\e8a4";
}

.eg-icon-thermometer:before {
  content: "\e8a5";
}

.eg-icon-thumbs-down:before {
  content: "\e8a6";
}

.eg-icon-times-circle:before {
  content: "\e8a7";
}

.eg-icon-thumbs-up:before {
  content: "\e8a8";
}

.eg-icon-ticket:before {
  content: "\e8a9";
}

.eg-icon-thumbs-o-down:before {
  content: "\e8aa";
}

.eg-icon-thumbs-o-up:before {
  content: "\e8ab";
}

.eg-icon-times-circle-o:before {
  content: "\e8ac";
}

.eg-icon-times-rectangle-o:before {
  content: "\e8ad";
}

.eg-icon-times-rectangle:before {
  content: "\e8ae";
}

.eg-icon-times:before {
  content: "\e8af";
}

.eg-icon-tint:before {
  content: "\e8b0";
}

.eg-icon-toggle-left:before {
  content: "\e8b1";
}

.eg-icon-toggle-down:before {
  content: "\e8b2";
}

.eg-icon-toggle-off:before {
  content: "\e8b3";
}

.eg-icon-toggle-right:before {
  content: "\e8b4";
}

.eg-icon-toggle-on:before {
  content: "\e8b5";
}

.eg-icon-toggle-up:before {
  content: "\e8b6";
}

.eg-icon-transgender-alt:before {
  content: "\e8b7";
}

.eg-icon-trademark:before {
  content: "\e8b8";
}

.eg-icon-train:before {
  content: "\e8b9";
}

.eg-icon-trash-o:before {
  content: "\e8ba";
}

.eg-icon-trash:before {
  content: "\e8bb";
}

.eg-icon-transgender:before {
  content: "\e8bc";
}

.eg-icon-tree:before {
  content: "\e8bd";
}

.eg-icon-try:before {
  content: "\e8be";
}

.eg-icon-trello:before {
  content: "\e8bf";
}

.eg-icon-trophy:before {
  content: "\e8c0";
}

.eg-icon-tty:before {
  content: "\e8c1";
}

.eg-icon-truck:before {
  content: "\e8c2";
}

.eg-icon-tripadvisor:before {
  content: "\e8c3";
}

.eg-icon-tumblr-square:before {
  content: "\e8c4";
}

.eg-icon-turkish-lira:before {
  content: "\e8c5";
}

.eg-icon-tumblr:before {
  content: "\e8c6";
}

.eg-icon-tv:before {
  content: "\e8c7";
}

.eg-icon-twitter:before {
  content: "\e8c8";
}

.eg-icon-twitter-square:before {
  content: "\e8c9";
}

.eg-icon-twitch:before {
  content: "\e8ca";
}

.eg-icon-underline:before {
  content: "\e8cb";
}

.eg-icon-umbrella:before {
  content: "\e8cc";
}

.eg-icon-undo:before {
  content: "\e8cd";
}

.eg-icon-unlink:before {
  content: "\e8ce";
}

.eg-icon-university:before {
  content: "\e8cf";
}

.eg-icon-universal-access:before {
  content: "\e8d0";
}

.eg-icon-unlock-alt:before {
  content: "\e8d1";
}

.eg-icon-unlock:before {
  content: "\e8d2";
}

.eg-icon-upload:before {
  content: "\e8d3";
}

.eg-icon-unsorted:before {
  content: "\e8d4";
}

.eg-icon-usd:before {
  content: "\e8d5";
}

.eg-icon-usb:before {
  content: "\e8d6";
}

.eg-icon-user-circle:before {
  content: "\e8d7";
}

.eg-icon-user-o:before {
  content: "\e8d8";
}

.eg-icon-user-circle-o:before {
  content: "\e8d9";
}

.eg-icon-user-plus:before {
  content: "\e8da";
}

.eg-icon-user-md:before {
  content: "\e8db";
}

.eg-icon-user-secret:before {
  content: "\e8dc";
}

.eg-icon-user:before {
  content: "\e8dd";
}

.eg-icon-user-times:before {
  content: "\e8de";
}

.eg-icon-users:before {
  content: "\e8df";
}

.eg-icon-vcard-o:before {
  content: "\e8e0";
}

.eg-icon-vcard:before {
  content: "\e8e1";
}

.eg-icon-venus:before {
  content: "\e8e2";
}

.eg-icon-venus-mars:before {
  content: "\e8e3";
}

.eg-icon-venus-double:before {
  content: "\e8e4";
}

.eg-icon-viadeo-square:before {
  content: "\e8e5";
}

.eg-icon-viacoin:before {
  content: "\e8e6";
}

.eg-icon-viadeo:before {
  content: "\e8e7";
}

.eg-icon-video-camera:before {
  content: "\e8e8";
}

.eg-icon-vimeo-square:before {
  content: "\e8e9";
}

.eg-icon-vine:before {
  content: "\e8ea";
}

.eg-icon-vimeo:before {
  content: "\e8eb";
}

.eg-icon-vk:before {
  content: "\e8ec";
}

.eg-icon-volume-control-phone:before {
  content: "\e8ed";
}

.eg-icon-volume-off:before {
  content: "\e8ee";
}

.eg-icon-volume-down:before {
  content: "\e8ef";
}

.eg-icon-warning:before {
  content: "\e8f0";
}

.eg-icon-volume-up:before {
  content: "\e8f1";
}

.eg-icon-wechat:before {
  content: "\e8f2";
}

.eg-icon-weibo:before {
  content: "\e8f3";
}

.eg-icon-whatsapp:before {
  content: "\e8f4";
}

.eg-icon-weixin:before {
  content: "\e8f5";
}

.eg-icon-wheelchair-alt:before {
  content: "\e8f6";
}

.eg-icon-wheelchair:before {
  content: "\e8f7";
}

.eg-icon-wikipedia-w:before {
  content: "\e8f8";
}

.eg-icon-wifi:before {
  content: "\e8f9";
}

.eg-icon-window-close:before {
  content: "\e8fa";
}

.eg-icon-window-close-o:before {
  content: "\e8fb";
}

.eg-icon-window-maximize:before {
  content: "\e8fc";
}

.eg-icon-window-minimize:before {
  content: "\e8fd";
}

.eg-icon-window-restore:before {
  content: "\e8fe";
}

.eg-icon-windows:before {
  content: "\e8ff";
}

.eg-icon-won:before {
  content: "\e900";
}

.eg-icon-wordpress:before {
  content: "\e901";
}

.eg-icon-wpexplorer:before {
  content: "\e902";
}

.eg-icon-wpbeginner:before {
  content: "\e903";
}

.eg-icon-xing-square:before {
  content: "\e904";
}

.eg-icon-wrench:before {
  content: "\e905";
}

.eg-icon-wpforms:before {
  content: "\e906";
}

.eg-icon-y-combinator:before {
  content: "\e907";
}

.eg-icon-xing:before {
  content: "\e908";
}

.eg-icon-y-combinator-square:before {
  content: "\e909";
}

.eg-icon-yahoo:before {
  content: "\e90a";
}

.eg-icon-yc:before {
  content: "\e90b";
}

.eg-icon-yc-square:before {
  content: "\e90c";
}

.eg-icon-yen:before {
  content: "\e90d";
}

.eg-icon-yelp:before {
  content: "\e90e";
}

.eg-icon-yoast:before {
  content: "\e90f";
}

.eg-icon-youtube-play:before {
  content: "\e910";
}

.eg-icon-youtube-square:before {
  content: "\e911";
}

.eg-icon-youtube:before {
  content: "\e912";
}

.eg-icon-dagou:before {
  content: "\e921";
}

.eg-icon-delete1:before {
  content: "\e927";
}

.eg-icon-shuzishurukuang:before {
  content: "\e91c";
}

.eg-icon-zhuanfa2:before {
  content: "\e92d";
}

.eg-icon-SHARE:before {
  content: "\e928";
}

.eg-icon-delete2:before {
  content: "\e929";
}

.eg-icon-zhuanfa3:before {
  content: "\e92e";
}

.eg-icon-liangliebuju:before {
  content: "\e918";
}

.eg-icon-sanliebuju:before {
  content: "\e919";
}

.eg-icon-time:before {
  content: "\e914";
}

.eg-icon-method-draw-image:before {
  content: "\e91a";
}

.eg-icon-zuoyedanwei:before {
  content: "\e91e";
}

.eg-icon-siliebuju:before {
  content: "\e600";
}

.eg-icon-image_:before {
  content: "\e931";
}



@keyframes rotating {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
