@import "common/var";

@font-face {
  font-family: 'element-icons';
  src: url('#{$--font-path}/element-icons.woff') format('woff'), /* chrome, firefox */
       url('#{$--font-path}/element-icons.ttf') format('truetype'); /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  font-weight: normal;
  font-style: normal
}

[class^="el-icon-"], [class*=" el-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'element-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: baseline;
  display: inline-block;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.el-icon-delete:before { content: "\e8ba"; }
.el-icon-error:before { content: "\e6a2"; }
.el-icon-success:before { content: "\e68c"; }
.el-icon-back:before { content: "\e7b0"; }
.el-icon-caret-top:before { content: "\e67e"; }
.el-icon-d-arrow-left:before { content: "\e619"; }
.el-icon-d-arrow-right:before { content: "\e61a"; }
.el-icon-circle-plus:before { content: "\e802"; }
.el-icon-remove-outline:before { content: "\e7c7"; }
.el-icon-circle-plus-outline:before { content: "\e800"; }
.el-icon-circle-close:before { content: "\e8a7"; }
.el-icon-circle-check:before { content: "\e68e"; }
.el-icon-circle-close-outline:before { content: "\e8ac"; }
.el-icon-circle-check-outline:before { content: "\e68f"; }
.el-icon-zoom-out:before { content: "\e838"; }
.el-icon-zoom-in:before { content: "\e833"; }
.el-icon-d-caret:before { content: "\e864"; }
.el-icon-tickets:before { content: "\e87d"; }
.el-icon-document:before { content: "\e70d"; }
.el-icon-goods:before { content: "\e848"; }
.el-icon-sold-out:before { content: "\e681"; }
.el-icon-news:before { content: "\e6a0"; }
.el-icon-message:before { content: "\e6dd"; }
.el-icon-date:before { content: "\e602"; }
.el-icon-printer:before { content: "\e805"; }
.el-icon-time:before { content: "\e606"; }
.el-icon-mobile-phone:before { content: "\e7cc"; }
.el-icon-service:before { content: "\e634"; }
.el-icon-view:before { content: "\e6f3"; }
.el-icon-menu:before { content: "\e896"; }
.el-icon-more:before { content: "\e6dc"; }
.el-icon-more-outline:before { content: "\e6dc"; }
.el-icon-star-on:before { content: "\e870"; }
.el-icon-star-off:before { content: "\e872"; }
.el-icon-location:before { content: "\e7b5"; }
.el-icon-location-outline:before { content: "\e7b5"; }
.el-icon-phone-outline:before { content: "\e8ed"; }
.el-icon-picture:before { content: "\e7f2"; }
.el-icon-picture-outline:before { content: "\e7f2"; }
.el-icon-edit-outline:before { content: "\e7ef"; }
.el-icon-rank:before { content: "\e632"; }
.el-icon-setting:before { content: "\e6ac"; }
.el-icon-upload2:before { content: "\e6a3"; }
// .:before { content: ; }
.el-icon-arrow-down:before { content: "\e61c"; }
.el-icon-arrow-left:before { content: "\e61d"; }
.el-icon-arrow-right:before { content: "\e61e"; }
.el-icon-arrow-up:before { content: "\e61f"; }

.el-icon-angle-down:before { content: "\e62b"; }
.el-icon-angle-left:before { content: "\e62c"; }
.el-icon-angle-right:before { content: "\e62d"; }
.el-icon-angle-up:before { content: "\e62e"; }

.el-icon-lianglan:before { content: "\e915"; }

.el-icon-yilan:before { content: "\e916"; }

.el-icon-sanlan:before { content: "\e917"; }

.el-icon-sanliebuju:before { content: "\e919"; }

.el-icon-liangliebuju:before { content: "\e918"; }

.el-icon-method-draw-image:before { content: "\e91a"; }

.el-icon-shuzi:before { content: "\e91b"; }

.el-icon-shuzishurukuang:before { content: "\e91c"; }

.el-icon-huiyishi:before { content: "\e91d"; }

.el-icon-huiyishi1:before { content: "\e91f"; }

.el-icon-gongsixinxi1:before { content: "\e920"; }

.el-icon-bars:before { content: "\e601"; }

.el-icon-calendar:before { content: "\e602"; }

.el-icon-camera:before { content: "\e603"; }

.el-icon-check:before { content: "\e604"; }

.el-icon-check-square-o:before { content: "\e605"; }

.el-icon-clock-o:before { content: "\e606"; }

.el-icon-500px:before { content: "\e607"; }

.el-icon-address-book-o:before { content: "\e608"; }

.el-icon-address-book:before { content: "\e609"; }

.el-icon-address-card-o:before { content: "\e60a"; }

.el-icon-address-card:before { content: "\e60b"; }

.el-icon-adjust:before { content: "\e60c"; }

.el-icon-adn:before { content: "\e60d"; }

.el-icon-align-center:before { content: "\e60e"; }

.el-icon-align-justify:before { content: "\e60f"; }

.el-icon-align-left:before { content: "\e610"; }

.el-icon-align-right:before { content: "\e611"; }

.el-icon-amazon:before { content: "\e612"; }

.el-icon-ambulance:before { content: "\e613"; }

.el-icon-american-sign-language-interpreting:before { content: "\e614"; }

.el-icon-anchor:before { content: "\e615"; }

.el-icon-android:before { content: "\e616"; }

.el-icon-angellist:before { content: "\e617"; }

.el-icon-angle-double-down:before { content: "\e618"; }

.el-icon-angle-double-left:before { content: "\e619"; }

.el-icon-angle-double-right:before { content: "\e61a"; }

.el-icon-angle-double-up:before { content: "\e61b"; }



.el-icon-apple:before { content: "\e620"; }

.el-icon-archive:before { content: "\e621"; }

.el-icon-area-chart:before { content: "\e622"; }

.el-icon-arrow-circle-down:before { content: "\e623"; }

.el-icon-arrow-circle-left:before { content: "\e624"; }

.el-icon-arrow-circle-o-down:before { content: "\e625"; }

.el-icon-arrow-circle-o-left:before { content: "\e626"; }

.el-icon-arrow-circle-o-right:before { content: "\e627"; }

.el-icon-arrow-circle-o-up:before { content: "\e628"; }

.el-icon-arrow-circle-right:before { content: "\e629"; }

.el-icon-arrow-circle-up:before { content: "\e62a"; }


.el-icon-arrows-alt:before { content: "\e62f"; }

.el-icon-arrows-h:before { content: "\e630"; }

.el-icon-arrows-v:before { content: "\e631"; }

.el-icon-arrows:before { content: "\e632"; }

.el-icon-asl-interpreting:before { content: "\e633"; }

.el-icon-assistive-listening-systems:before { content: "\e634"; }

.el-icon-asterisk:before { content: "\e635"; }

.el-icon-at:before { content: "\e636"; }

.el-icon-audio-description:before { content: "\e637"; }

.el-icon-automobile:before { content: "\e638"; }

.el-icon-backward:before { content: "\e639"; }

.el-icon-balance-scale:before { content: "\e63a"; }

.el-icon-bandcamp:before { content: "\e63b"; }

.el-icon-bank:before { content: "\e63c"; }

.el-icon-bars1:before { content: "\e63d"; }

.el-icon-bar-chart:before { content: "\e63e"; }

.el-icon-bar-chart-o:before { content: "\e63f"; }

.el-icon-bathtub:before { content: "\e640"; }

.el-icon-barcode:before { content: "\e641"; }

.el-icon-bath:before { content: "\e642"; }

.el-icon-battery-0:before { content: "\e643"; }

.el-icon-battery-1:before { content: "\e644"; }

.el-icon-battery-2:before { content: "\e645"; }

.el-icon-battery-4:before { content: "\e646"; }

.el-icon-battery-3:before { content: "\e647"; }

.el-icon-battery-half:before { content: "\e648"; }

.el-icon-battery-empty:before { content: "\e649"; }

.el-icon-battery-full:before { content: "\e64a"; }

.el-icon-battery-quarter:before { content: "\e64b"; }

.el-icon-battery-three-quarters:before { content: "\e64c"; }

.el-icon-battery:before { content: "\e64d"; }

.el-icon-beer:before { content: "\e64e"; }

.el-icon-bed:before { content: "\e64f"; }

.el-icon-behance:before { content: "\e650"; }

.el-icon-behance-square:before { content: "\e651"; }

.el-icon-bell-o:before { content: "\e652"; }

.el-icon-bell-slash-o:before { content: "\e653"; }

.el-icon-bell-slash:before { content: "\e654"; }

.el-icon-bicycle:before { content: "\e655"; }

.el-icon-bitbucket-square:before { content: "\e656"; }

.el-icon-binoculars:before { content: "\e657"; }

.el-icon-bell:before { content: "\e658"; }

.el-icon-birthday-cake:before { content: "\e659"; }

.el-icon-bitbucket:before { content: "\e65a"; }

.el-icon-black-tie:before { content: "\e65b"; }

.el-icon-bluetooth-b:before { content: "\e65c"; }

.el-icon-bitcoin:before { content: "\e65d"; }

.el-icon-blind:before { content: "\e65e"; }

.el-icon-bluetooth:before { content: "\e65f"; }

.el-icon-bold:before { content: "\e660"; }

.el-icon-bolt:before { content: "\e661"; }

.el-icon-bomb:before { content: "\e662"; }

.el-icon-book:before { content: "\e663"; }

.el-icon-bug:before { content: "\e664"; }

.el-icon-bookmark-o:before { content: "\e665"; }

.el-icon-btc:before { content: "\e666"; }

.el-icon-bookmark:before { content: "\e667"; }

.el-icon-briefcase:before { content: "\e668"; }

.el-icon-braille:before { content: "\e669"; }

.el-icon-bullhorn:before { content: "\e66a"; }

.el-icon-bullseye:before { content: "\e66b"; }

.el-icon-bus:before { content: "\e66c"; }

.el-icon-building:before { content: "\e66d"; }

.el-icon-cab:before { content: "\e66e"; }

.el-icon-buysellads:before { content: "\e66f"; }

.el-icon-building-o:before { content: "\e670"; }

.el-icon-calendar-plus-o:before { content: "\e671"; }

.el-icon-calendar-o:before { content: "\e672"; }

.el-icon-calendar-times-o:before { content: "\e673"; }

.el-icon-calendar-check-o:before { content: "\e674"; }

.el-icon-calendar-minus-o:before { content: "\e675"; }

.el-icon-calculator:before { content: "\e676"; }

.el-icon-caret-down:before { content: "\e677"; }

.el-icon-caret-bottom:before { content: "\e677"; }

.el-icon-caret-left:before { content: "\e678"; }

.el-icon-car:before { content: "\e679"; }

.el-icon-camera-retro:before { content: "\e67a"; }

.el-icon-caret-right:before { content: "\e67b"; }

.el-icon-caret-square-o-left:before { content: "\e67c"; }

.el-icon-caret-square-o-right:before { content: "\e67d"; }

.el-icon-caret-up:before { content: "\e67e"; }

.el-icon-caret-square-o-up:before { content: "\e67f"; }

.el-icon-cart-plus:before { content: "\e680"; }

.el-icon-cart-arrow-down:before { content: "\e681"; }

.el-icon-caret-square-o-down:before { content: "\e682"; }

.el-icon-cc-discover:before { content: "\e683"; }

.el-icon-cc-diners-club:before { content: "\e684"; }

.el-icon-cc-paypal:before { content: "\e685"; }

.el-icon-cc-jcb:before { content: "\e686"; }

.el-icon-cc-mastercard:before { content: "\e687"; }

.el-icon-cc-amex:before { content: "\e688"; }

.el-icon-cc:before { content: "\e689"; }

.el-icon-cc-visa:before { content: "\e68a"; }

.el-icon-cc-stripe:before { content: "\e68b"; }

.el-icon-check1:before { content: "\e68c"; }

.el-icon-certificate:before { content: "\e68d"; }

.el-icon-check-circle:before { content: "\e68e"; }

.el-icon-check-circle-o:before { content: "\e68f"; }

.el-icon-chain-broken:before { content: "\e690"; }

.el-icon-chain:before { content: "\e691"; }

.el-icon-chevron-circle-down:before { content: "\e692"; }

.el-icon-chevron-circle-left:before { content: "\e693"; }

.el-icon-chevron-circle-right:before { content: "\e694"; }

.el-icon-chevron-down:before { content: "\e695"; }

.el-icon-chevron-circle-up:before { content: "\e696"; }

.el-icon-chevron-left:before { content: "\e697"; }

.el-icon-chevron-right:before { content: "\e698"; }

.el-icon-chevron-up:before { content: "\e699"; }

.el-icon-child:before { content: "\e69a"; }

.el-icon-circle-thin:before { content: "\e69b"; }

.el-icon-circle-o-notch:before { content: "\e69c"; }

.el-icon-chrome:before { content: "\e69d"; }

.el-icon-circle-o:before { content: "\e69e"; }

.el-icon-clipboard:before { content: "\e69f"; }

.el-icon-circle:before { content: "\e6a0"; }

.el-icon-cloud:before { content: "\e6a1"; }

.el-icon-close:before { content: "\e6a2"; }

.el-icon-cloud-upload:before { content: "\e6a3"; }

.el-icon-clone:before { content: "\e6a4"; }

.el-icon-cloud-download:before { content: "\e6a5"; }

.el-icon-clock-o1:before { content: "\e6a6"; }

.el-icon-cny:before { content: "\e6a7"; }

.el-icon-code-fork:before { content: "\e6a8"; }

.el-icon-codiepie:before { content: "\e6a9"; }

.el-icon-codepen:before { content: "\e6aa"; }

.el-icon-code:before { content: "\e6ab"; }

.el-icon-cog:before { content: "\e6ac"; }

.el-icon-coffee:before { content: "\e6ad"; }

.el-icon-columns:before { content: "\e6ae"; }

.el-icon-comment-o:before { content: "\e6af"; }

.el-icon-commenting-o:before { content: "\e6b0"; }

.el-icon-commenting:before { content: "\e6b1"; }

.el-icon-comment:before { content: "\e6b2"; }

.el-icon-cogs:before { content: "\e6b3"; }

.el-icon-compass:before { content: "\e6b4"; }

.el-icon-compress:before { content: "\e6b5"; }

.el-icon-comments:before { content: "\e6b6"; }

.el-icon-comments-o:before { content: "\e6b7"; }

.el-icon-connectdevelop:before { content: "\e6b8"; }

.el-icon-copy:before { content: "\e6b9"; }

.el-icon-contao:before { content: "\e6ba"; }

.el-icon-copyright:before { content: "\e6bb"; }

.el-icon-credit-card-alt:before { content: "\e6bc"; }

.el-icon-credit-card:before { content: "\e6bd"; }

.el-icon-crop:before { content: "\e6be"; }

.el-icon-creative-commons:before { content: "\e6bf"; }

.el-icon-crosshairs:before { content: "\e6c0"; }

.el-icon-css3:before { content: "\e6c1"; }

.el-icon-cube:before { content: "\e6c2"; }

.el-icon-cutlery:before { content: "\e6c3"; }

.el-icon-cut:before { content: "\e6c4"; }

.el-icon-dashboard:before { content: "\e6c5"; }

.el-icon-dashcube:before { content: "\e6c6"; }

.el-icon-cubes:before { content: "\e6c7"; }

.el-icon-database:before { content: "\e6c8"; }

.el-icon-deaf:before { content: "\e6c9"; }

.el-icon-delicious:before { content: "\e6ca"; }

.el-icon-deviantart:before { content: "\e6cb"; }

.el-icon-diamond:before { content: "\e6cc"; }

.el-icon-dedent:before { content: "\e6cd"; }

.el-icon-desktop:before { content: "\e6ce"; }

.el-icon-deafness:before { content: "\e6cf"; }

.el-icon-drivers-license-o:before { content: "\e6d0"; }

.el-icon-digg:before { content: "\e6d1"; }

.el-icon-dribbble:before { content: "\e6d2"; }

.el-icon-download:before { content: "\e6d3"; }

.el-icon-dollar:before { content: "\e6d4"; }

.el-icon-dot-circle-o:before { content: "\e6d5"; }

.el-icon-edit:before { content: "\e6d6"; }

.el-icon-dropbox:before { content: "\e6d7"; }

.el-icon-edge:before { content: "\e6d8"; }

.el-icon-drupal:before { content: "\e6d9"; }

.el-icon-drivers-license:before { content: "\e6da"; }

.el-icon-eject:before { content: "\e6db"; }

.el-icon-ellipsis-h:before { content: "\e6dc"; }

.el-icon-envelope-o:before { content: "\e6dd"; }

.el-icon-ellipsis-v:before { content: "\e6de"; }

.el-icon-eercast:before { content: "\e6df"; }

.el-icon-empire:before { content: "\e6e0"; }

.el-icon-envelope-open-o:before { content: "\e6e1"; }

.el-icon-envelope-open:before { content: "\e6e2"; }

.el-icon-envelope:before { content: "\e6e3"; }

.el-icon-envelope-square:before { content: "\e6e4"; }

.el-icon-envira:before { content: "\e6e5"; }

.el-icon-etsy:before { content: "\e6e6"; }

.el-icon-eraser:before { content: "\e6e7"; }

.el-icon-eur:before { content: "\e6e8"; }

.el-icon-euro:before { content: "\e6e9"; }

.el-icon-exchange:before { content: "\e6ea"; }

.el-icon-exclamation-triangle:before { content: "\e6eb"; }

.el-icon-expand:before { content: "\e6ec"; }

.el-icon-exclamation:before { content: "\e6ed"; }

.el-icon-exclamation-circle:before { content: "\e6ee"; }

.el-icon-expeditedssl:before { content: "\e6ef"; }

.el-icon-external-link-square:before { content: "\e6f0"; }

.el-icon-eyedropper:before { content: "\e6f1"; }

.el-icon-external-link:before { content: "\e6f2"; }

.el-icon-eye:before { content: "\e6f3"; }

.el-icon-eye-slash:before { content: "\e6f4"; }

.el-icon-fa:before { content: "\e6f5"; }

.el-icon-facebook-official:before { content: "\e6f6"; }

.el-icon-facebook-f:before { content: "\e6f7"; }

.el-icon-facebook-square:before { content: "\e6f8"; }

.el-icon-facebook:before { content: "\e6f9"; }

.el-icon-fast-backward:before { content: "\e6fa"; }

.el-icon-fast-forward:before { content: "\e6fb"; }

.el-icon-feed:before { content: "\e6fc"; }

.el-icon-file-archive-o:before { content: "\e6fd"; }

.el-icon-female:before { content: "\e6fe"; }

.el-icon-file-audio-o:before { content: "\e6ff"; }

.el-icon-fighter-jet:before { content: "\e700"; }

.el-icon-fax:before { content: "\e701"; }

.el-icon-file-code-o:before { content: "\e702"; }

.el-icon-file-movie-o:before { content: "\e703"; }

.el-icon-file-image-o:before { content: "\e704"; }

.el-icon-file-excel-o:before { content: "\e705"; }

.el-icon-file-o:before { content: "\e706"; }

.el-icon-file-photo-o:before { content: "\e707"; }

.el-icon-file-pdf-o:before { content: "\e708"; }

.el-icon-file-picture-o:before { content: "\e709"; }

.el-icon-file-sound-o:before { content: "\e70a"; }

.el-icon-file-powerpoint-o:before { content: "\e70b"; }

.el-icon-file-text:before { content: "\e70c"; }

.el-icon-file-text-o:before { content: "\e70d"; }

.el-icon-file:before { content: "\e70e"; }

.el-icon-file-video-o:before { content: "\e70f"; }

.el-icon-files-o:before { content: "\e710"; }

.el-icon-file-zip-o:before { content: "\e711"; }

.el-icon-file-word-o:before { content: "\e712"; }

.el-icon-film:before { content: "\e713"; }

.el-icon-filter:before { content: "\e714"; }

.el-icon-fire:before { content: "\e715"; }

.el-icon-fire-extinguisher:before { content: "\e716"; }

.el-icon-flag-checkered:before { content: "\e717"; }

.el-icon-firefox:before { content: "\e718"; }

.el-icon-first-order:before { content: "\e719"; }

.el-icon-flash:before { content: "\e71a"; }

.el-icon-flag:before { content: "\e71b"; }

.el-icon-flag-o:before { content: "\e71c"; }

.el-icon-flask:before { content: "\e71d"; }

.el-icon-flickr:before { content: "\e71e"; }

.el-icon-folder-open:before { content: "\e71f"; }

.el-icon-folder-o:before { content: "\e720"; }

.el-icon-font-awesome:before { content: "\e721"; }

.el-icon-folder:before { content: "\e722"; }

.el-icon-floppy-o:before { content: "\e723"; }

.el-icon-folder-open-o:before { content: "\e724"; }

.el-icon-fonticons:before { content: "\e725"; }

.el-icon-font:before { content: "\e726"; }

.el-icon-forumbee:before { content: "\e727"; }

.el-icon-fort-awesome:before { content: "\e728"; }

.el-icon-forward:before { content: "\e729"; }

.el-icon-foursquare:before { content: "\e72a"; }

.el-icon-free-code-camp:before { content: "\e72b"; }

.el-icon-frown-o:before { content: "\e72c"; }

.el-icon-futbol-o:before { content: "\e72d"; }

.el-icon-gamepad:before { content: "\e72e"; }

.el-icon-gavel:before { content: "\e72f"; }

.el-icon-gbp:before { content: "\e730"; }

.el-icon-ge:before { content: "\e731"; }

.el-icon-gear:before { content: "\e732"; }

.el-icon-gears:before { content: "\e733"; }

.el-icon-genderless:before { content: "\e734"; }

.el-icon-get-pocket:before { content: "\e735"; }

.el-icon-gg-circle:before { content: "\e736"; }

.el-icon-gift:before { content: "\e737"; }

.el-icon-gg:before { content: "\e738"; }

.el-icon-git-square:before { content: "\e739"; }

.el-icon-git:before { content: "\e73a"; }

.el-icon-github-alt:before { content: "\e73b"; }

.el-icon-github-square:before { content: "\e73c"; }

.el-icon-github:before { content: "\e73d"; }

.el-icon-gitlab:before { content: "\e73e"; }

.el-icon-gittip:before { content: "\e73f"; }

.el-icon-glass:before { content: "\e740"; }

.el-icon-glide-g:before { content: "\e741"; }

.el-icon-glide:before { content: "\e742"; }

.el-icon-globe:before { content: "\e743"; }

.el-icon-google-plus-circle:before { content: "\e744"; }

.el-icon-google-plus-official:before { content: "\e745"; }

.el-icon-google-plus-square:before { content: "\e746"; }

.el-icon-google-plus:before { content: "\e747"; }

.el-icon-google-wallet:before { content: "\e748"; }

.el-icon-google:before { content: "\e749"; }

.el-icon-graduation-cap:before { content: "\e74a"; }

.el-icon-gratipay:before { content: "\e74b"; }

.el-icon-grav:before { content: "\e74c"; }

.el-icon-group:before { content: "\e74d"; }

.el-icon-h-square:before { content: "\e74e"; }

.el-icon-hacker-news:before { content: "\e74f"; }

.el-icon-hand-grab-o:before { content: "\e750"; }

.el-icon-hand-o-left:before { content: "\e751"; }

.el-icon-hand-lizard-o:before { content: "\e752"; }

.el-icon-hand-o-down:before { content: "\e753"; }

.el-icon-hand-o-right:before { content: "\e754"; }

.el-icon-hand-o-up:before { content: "\e755"; }

.el-icon-hand-paper-o:before { content: "\e756"; }

.el-icon-hand-pointer-o:before { content: "\e757"; }

.el-icon-hand-peace-o:before { content: "\e758"; }

.el-icon-hand-spock-o:before { content: "\e759"; }

.el-icon-hand-rock-o:before { content: "\e75a"; }

.el-icon-hand-scissors-o:before { content: "\e75b"; }

.el-icon-hand-stop-o:before { content: "\e75c"; }

.el-icon-hard-of-hearing:before { content: "\e75d"; }

.el-icon-handshake-o:before { content: "\e75e"; }

.el-icon-hashtag:before { content: "\e75f"; }

.el-icon-headphones:before { content: "\e760"; }

.el-icon-header:before { content: "\e761"; }

.el-icon-hdd-o:before { content: "\e762"; }

.el-icon-heart-o:before { content: "\e763"; }

.el-icon-heart:before { content: "\e764"; }

.el-icon-hotel:before { content: "\e765"; }

.el-icon-heartbeat:before { content: "\e766"; }

.el-icon-hourglass-1:before { content: "\e767"; }

.el-icon-home:before { content: "\e768"; }

.el-icon-history:before { content: "\e769"; }

.el-icon-hourglass-2:before { content: "\e76a"; }

.el-icon-hospital-o:before { content: "\e76b"; }

.el-icon-hourglass-3:before { content: "\e76c"; }

.el-icon-hourglass-half:before { content: "\e76d"; }

.el-icon-hourglass-end:before { content: "\e76e"; }

.el-icon-hourglass-o:before { content: "\e76f"; }

.el-icon-hourglass-start:before { content: "\e770"; }

.el-icon-houzz:before { content: "\e771"; }

.el-icon-html5:before { content: "\e772"; }

.el-icon-hourglass:before { content: "\e773"; }

.el-icon-id-badge:before { content: "\e774"; }

.el-icon-i-cursor:before { content: "\e775"; }

.el-icon-id-card:before { content: "\e776"; }

.el-icon-ils:before { content: "\e777"; }

.el-icon-id-card-o:before { content: "\e778"; }

.el-icon-image:before { content: "\e779"; }

.el-icon-inbox:before { content: "\e77a"; }

.el-icon-indent:before { content: "\e77b"; }

.el-icon-industry:before { content: "\e77c"; }

.el-icon-imdb:before { content: "\e77d"; }

.el-icon-info:before { content: "\e77e"; }

.el-icon-institution:before { content: "\e77f"; }

.el-icon-info-circle:before { content: "\e780"; }

.el-icon-internet-explorer:before { content: "\e781"; }

.el-icon-inr:before { content: "\e782"; }

.el-icon-instagram:before { content: "\e783"; }

.el-icon-ioxhost:before { content: "\e784"; }

.el-icon-joomla:before { content: "\e785"; }

.el-icon-jpy:before { content: "\e786"; }

.el-icon-intersex:before { content: "\e787"; }

.el-icon-jsfiddle:before { content: "\e788"; }

.el-icon-italic:before { content: "\e789"; }

.el-icon-key:before { content: "\e78a"; }

.el-icon-keyboard-o:before { content: "\e78b"; }

.el-icon-krw:before { content: "\e78c"; }

.el-icon-laptop:before { content: "\e78d"; }

.el-icon-language:before { content: "\e78e"; }

.el-icon-leaf:before { content: "\e78f"; }

.el-icon-lastfm:before { content: "\e790"; }

.el-icon-lastfm-square:before { content: "\e791"; }

.el-icon-legal:before { content: "\e792"; }

.el-icon-leanpub:before { content: "\e793"; }

.el-icon-level-down:before { content: "\e794"; }

.el-icon-level-up:before { content: "\e795"; }

.el-icon-life-ring:before { content: "\e796"; }

.el-icon-life-buoy:before { content: "\e797"; }

.el-icon-life-bouy:before { content: "\e798"; }

.el-icon-lemon-o:before { content: "\e799"; }

.el-icon-lightbulb-o:before { content: "\e79a"; }

.el-icon-life-saver:before { content: "\e79b"; }

.el-icon-line-chart:before { content: "\e79c"; }

.el-icon-linkedin:before { content: "\e79d"; }

.el-icon-linkedin-square:before { content: "\e79e"; }

.el-icon-link:before { content: "\e79f"; }

.el-icon-linode:before { content: "\e7a0"; }

.el-icon-list:before { content: "\e7a1"; }

.el-icon-list-ul:before { content: "\e7a2"; }

.el-icon-linux:before { content: "\e7a3"; }

.el-icon-list-ol:before { content: "\e7a4"; }

.el-icon-list-alt:before { content: "\e7a5"; }

.el-icon-location-arrow:before { content: "\e7a6"; }

.el-icon-lock:before { content: "\e7a7"; }

.el-icon-long-arrow-up:before { content: "\e7a8"; }

.el-icon-long-arrow-right:before { content: "\e7a9"; }

.el-icon-long-arrow-left:before { content: "\e7aa"; }

.el-icon-long-arrow-down:before { content: "\e7ab"; }

.el-icon-magic:before { content: "\e7ac"; }

.el-icon-magnet:before { content: "\e7ad"; }

.el-icon-low-vision:before { content: "\e7ae"; }

.el-icon-mail-reply-all:before { content: "\e7af"; }

.el-icon-mail-reply:before { content: "\e7b0"; }

.el-icon-mail-forward:before { content: "\e7b1"; }

.el-icon-male:before { content: "\e7b2"; }

.el-icon-map-pin:before { content: "\e7b3"; }

.el-icon-map-o:before { content: "\e7b4"; }

.el-icon-map-marker:before { content: "\e7b5"; }

.el-icon-map:before { content: "\e7b6"; }

.el-icon-map-signs:before { content: "\e7b7"; }

.el-icon-mars-stroke-h:before { content: "\e7b8"; }

.el-icon-mars-stroke:before { content: "\e7b9"; }

.el-icon-mars-stroke-v:before { content: "\e7ba"; }

.el-icon-mars-double:before { content: "\e7bb"; }

.el-icon-mars:before { content: "\e7bc"; }

.el-icon-maxcdn:before { content: "\e7bd"; }

.el-icon-medium:before { content: "\e7be"; }

.el-icon-medkit:before { content: "\e7bf"; }

.el-icon-meanpath:before { content: "\e7c0"; }

.el-icon-meetup:before { content: "\e7c1"; }

.el-icon-meh-o:before { content: "\e7c2"; }

.el-icon-mercury:before { content: "\e7c3"; }

.el-icon-microphone:before { content: "\e7c4"; }

.el-icon-minus-circle:before { content: "\e7c5"; }

.el-icon-minus-square:before { content: "\e7c6"; }

.el-icon-minus-square-o:before { content: "\e7c7"; }

.el-icon-microchip:before { content: "\e7c8"; }

.el-icon-microphone-slash:before { content: "\e7c9"; }

.el-icon-minus:before { content: "\e7ca"; }

.el-icon-mixcloud:before { content: "\e7cb"; }

.el-icon-mobile:before { content: "\e7cc"; }

.el-icon-modx:before { content: "\e7cd"; }

.el-icon-money:before { content: "\e7ce"; }

.el-icon-moon-o:before { content: "\e7cf"; }

.el-icon-motorcycle:before { content: "\e7d0"; }

.el-icon-mouse-pointer:before { content: "\e7d1"; }

.el-icon-mortar-board:before { content: "\e7d2"; }

.el-icon-navicon:before { content: "\e7d3"; }

.el-icon-neuter:before { content: "\e7d4"; }

.el-icon-music:before { content: "\e7d5"; }

.el-icon-object-group:before { content: "\e7d6"; }

.el-icon-newspaper-o:before { content: "\e7d7"; }

.el-icon-object-ungroup:before { content: "\e7d8"; }

.el-icon-odnoklassniki-square:before { content: "\e7d9"; }

.el-icon-odnoklassniki:before { content: "\e7da"; }

.el-icon-opencart:before { content: "\e7db"; }

.el-icon-openid:before { content: "\e7dc"; }

.el-icon-opera:before { content: "\e7dd"; }

.el-icon-paper-plane-o:before { content: "\e7de"; }

.el-icon-pagelines:before { content: "\e7df"; }

.el-icon-outdent:before { content: "\e7e0"; }

.el-icon-paper-plane:before { content: "\e7e1"; }

.el-icon-paint-brush:before { content: "\e7e2"; }

.el-icon-paragraph:before { content: "\e7e3"; }

.el-icon-paperclip:before { content: "\e7e4"; }

.el-icon-optin-monster:before { content: "\e7e5"; }

.el-icon-pause-circle-o:before { content: "\e7e6"; }

.el-icon-paste:before { content: "\e7e7"; }

.el-icon-pause:before { content: "\e7e8"; }

.el-icon-pause-circle:before { content: "\e7e9"; }

.el-icon-paw:before { content: "\e7ea"; }

.el-icon-paypal:before { content: "\e7eb"; }

.el-icon-pencil-square-o:before { content: "\e7ec"; }

.el-icon-percent:before { content: "\e7ed"; }

.el-icon-pencil-square:before { content: "\e7ee"; }

.el-icon-pencil:before { content: "\e7ef"; }

.el-icon-phone-square:before { content: "\e7f0"; }

.el-icon-phone:before { content: "\e7f1"; }

.el-icon-photo:before { content: "\e7f2"; }

.el-icon-picture-o:before { content: "\e7f3"; }

.el-icon-pie-chart:before { content: "\e7f4"; }

.el-icon-pied-piper-pp:before { content: "\e7f5"; }

.el-icon-pied-piper-alt:before { content: "\e7f6"; }

.el-icon-pinterest-p:before { content: "\e7f7"; }

.el-icon-plane:before { content: "\e7f8"; }

.el-icon-play-circle-o:before { content: "\e7f9"; }

.el-icon-pied-piper:before { content: "\e7fa"; }

.el-icon-pinterest:before { content: "\e7fb"; }

.el-icon-pinterest-square:before { content: "\e7fc"; }

.el-icon-play:before { content: "\e7fd"; }

.el-icon-play-circle:before { content: "\e7fe"; }

.el-icon-plug:before { content: "\e7ff"; }

.el-icon-plus-square-o:before { content: "\e800"; }

.el-icon-plus-square:before { content: "\e801"; }

.el-icon-plus-circle:before { content: "\e802"; }

.el-icon-plus:before { content: "\e803"; }

.el-icon-product-hunt:before { content: "\e804"; }

.el-icon-print:before { content: "\e805"; }

.el-icon-puzzle-piece:before { content: "\e806"; }

.el-icon-podcast:before { content: "\e807"; }

.el-icon-power-off:before { content: "\e808"; }

.el-icon-qq:before { content: "\e809"; }

.el-icon-question:before { content: "\e80a"; }

.el-icon-qrcode:before { content: "\e80b"; }

.el-icon-quora:before { content: "\e80c"; }

.el-icon-question-circle-o:before { content: "\e80d"; }

.el-icon-question-circle:before { content: "\e80e"; }

.el-icon-quote-left:before { content: "\e80f"; }

.el-icon-quote-right:before { content: "\e810"; }

.el-icon-ra:before { content: "\e811"; }

.el-icon-ravelry:before { content: "\e812"; }

.el-icon-rebel:before { content: "\e813"; }

.el-icon-random:before { content: "\e814"; }

.el-icon-reddit-square:before { content: "\e815"; }

.el-icon-reddit-alien:before { content: "\e816"; }

.el-icon-recycle:before { content: "\e817"; }

.el-icon-reddit:before { content: "\e818"; }

.el-icon-registered:before { content: "\e819"; }

.el-icon-refresh:before { content: "\e81a"; }

.el-icon-renren:before { content: "\e81b"; }

.el-icon-reorder:before { content: "\e81c"; }

.el-icon-repeat:before { content: "\e81d"; }

.el-icon-reply-all:before { content: "\e81e"; }

.el-icon-remove:before { content: "\e81f"; }

.el-icon-rmb:before { content: "\e820"; }

.el-icon-resistance:before { content: "\e821"; }

.el-icon-road:before { content: "\e822"; }

.el-icon-retweet:before { content: "\e823"; }

.el-icon-reply:before { content: "\e824"; }

.el-icon-rocket:before { content: "\e825"; }

.el-icon-rotate-left:before { content: "\e826"; }

.el-icon-rouble:before { content: "\e827"; }

.el-icon-rotate-right:before { content: "\e828"; }

.el-icon-rss:before { content: "\e829"; }

.el-icon-rss-square:before { content: "\e82a"; }

.el-icon-ruble:before { content: "\e82b"; }

.el-icon-rub:before { content: "\e82c"; }

.el-icon-s15:before { content: "\e82d"; }

.el-icon-save:before { content: "\e82e"; }

.el-icon-rupee:before { content: "\e82f"; }

.el-icon-safari:before { content: "\e830"; }

.el-icon-scissors:before { content: "\e831"; }

.el-icon-scribd:before { content: "\e832"; }

.el-icon-search-plus:before { content: "\e833"; }

.el-icon-search:before { content: "\e834"; }

.el-icon-sellsy:before { content: "\e835"; }

.el-icon-send:before { content: "\e836"; }

.el-icon-send-o:before { content: "\e837"; }

.el-icon-search-minus:before { content: "\e838"; }

.el-icon-server:before { content: "\e839"; }

.el-icon-share-alt-square:before { content: "\e83a"; }

.el-icon-share-alt:before { content: "\e83b"; }

.el-icon-share-square-o:before { content: "\e83c"; }

.el-icon-share:before { content: "\e83d"; }

.el-icon-share-square:before { content: "\e83e"; }

.el-icon-shekel:before { content: "\e83f"; }

.el-icon-sheqel:before { content: "\e840"; }

.el-icon-shield:before { content: "\e841"; }

.el-icon-ship:before { content: "\e842"; }

.el-icon-shirtsinbulk:before { content: "\e843"; }

.el-icon-shower:before { content: "\e844"; }

.el-icon-sign-in:before { content: "\e845"; }

.el-icon-shopping-basket:before { content: "\e846"; }

.el-icon-shopping-cart:before { content: "\e847"; }

.el-icon-shopping-bag:before { content: "\e848"; }

.el-icon-sign-language:before { content: "\e849"; }

.el-icon-sign-out:before { content: "\e84a"; }

.el-icon-signal:before { content: "\e84b"; }

.el-icon-simplybuilt:before { content: "\e84c"; }

.el-icon-sitemap:before { content: "\e84d"; }

.el-icon-signing:before { content: "\e84e"; }

.el-icon-sliders:before { content: "\e84f"; }

.el-icon-skype:before { content: "\e850"; }

.el-icon-skyatlas:before { content: "\e851"; }

.el-icon-slack:before { content: "\e852"; }

.el-icon-slideshare:before { content: "\e853"; }

.el-icon-snapchat-square:before { content: "\e854"; }

.el-icon-snapchat-ghost:before { content: "\e855"; }

.el-icon-smile-o:before { content: "\e856"; }

.el-icon-snapchat:before { content: "\e857"; }

.el-icon-snowflake-o:before { content: "\e858"; }

.el-icon-soccer-ball-o:before { content: "\e859"; }

.el-icon-sort-alpha-asc:before { content: "\e85a"; }

.el-icon-sort-alpha-desc:before { content: "\e85b"; }

.el-icon-sort-amount-asc:before { content: "\e85c"; }

.el-icon-sort-desc:before { content: "\e85d"; }

.el-icon-sort-down:before { content: "\e85e"; }

.el-icon-sort-numeric-asc:before { content: "\e85f"; }

.el-icon-sort-asc:before { content: "\e860"; }

.el-icon-sort-amount-desc:before { content: "\e861"; }

.el-icon-sort-numeric-desc:before { content: "\e862"; }

.el-icon-sort-up:before { content: "\e863"; }

.el-icon-sort:before { content: "\e864"; }

.el-icon-soundcloud:before { content: "\e865"; }

.el-icon-space-shuttle:before { content: "\e866"; }

.el-icon-spinner:before { content: "\e867"; }

.el-icon-spoon:before { content: "\e868"; }

.el-icon-square-o:before { content: "\e869"; }

.el-icon-spotify:before { content: "\e86a"; }

.el-icon-square:before { content: "\e86b"; }

.el-icon-stack-exchange:before { content: "\e86c"; }

.el-icon-star-half-empty:before { content: "\e86d"; }

.el-icon-stack-overflow:before { content: "\e86e"; }

.el-icon-star-half:before { content: "\e86f"; }

.el-icon-star:before { content: "\e870"; }

.el-icon-star-half-o:before { content: "\e871"; }

.el-icon-star-o:before { content: "\e872"; }

.el-icon-star-half-full:before { content: "\e873"; }

.el-icon-sticky-note-o:before { content: "\e874"; }

.el-icon-step-forward:before { content: "\e875"; }

.el-icon-steam:before { content: "\e876"; }

.el-icon-steam-square:before { content: "\e877"; }

.el-icon-stethoscope:before { content: "\e878"; }

.el-icon-step-backward:before { content: "\e879"; }

.el-icon-stop:before { content: "\e87a"; }

.el-icon-stop-circle:before { content: "\e87b"; }

.el-icon-stop-circle-o:before { content: "\e87c"; }

.el-icon-sticky-note:before { content: "\e87d"; }

.el-icon-street-view:before { content: "\e87e"; }

.el-icon-strikethrough:before { content: "\e87f"; }

.el-icon-stumbleupon:before { content: "\e880"; }

.el-icon-subway:before { content: "\e881"; }

.el-icon-stumbleupon-circle:before { content: "\e882"; }

.el-icon-suitcase:before { content: "\e883"; }

.el-icon-subscript:before { content: "\e884"; }

.el-icon-sun-o:before { content: "\e885"; }

.el-icon-superpowers:before { content: "\e886"; }

.el-icon-tablet:before { content: "\e887"; }

.el-icon-table:before { content: "\e888"; }

.el-icon-support:before { content: "\e889"; }

.el-icon-superscript:before { content: "\e88a"; }

.el-icon-tasks:before { content: "\e88b"; }

.el-icon-tags:before { content: "\e88c"; }

.el-icon-tag:before { content: "\e88d"; }

.el-icon-tachometer:before { content: "\e88e"; }

.el-icon-telegram:before { content: "\e88f"; }

.el-icon-taxi:before { content: "\e890"; }

.el-icon-terminal:before { content: "\e891"; }

.el-icon-tencent-weibo:before { content: "\e892"; }

.el-icon-television:before { content: "\e893"; }

.el-icon-text-height:before { content: "\e894"; }

.el-icon-text-width:before { content: "\e895"; }

.el-icon-th-large:before { content: "\e896"; }

.el-icon-th-list:before { content: "\e897"; }

.el-icon-thermometer-0:before { content: "\e898"; }

.el-icon-th:before { content: "\e899"; }

.el-icon-themeisle:before { content: "\e89a"; }

.el-icon-thermometer-1:before { content: "\e89b"; }

.el-icon-thermometer-2:before { content: "\e89c"; }

.el-icon-thermometer-3:before { content: "\e89d"; }

.el-icon-thermometer-4:before { content: "\e89e"; }

.el-icon-thermometer-empty:before { content: "\e89f"; }

.el-icon-thermometer-full:before { content: "\e8a0"; }

.el-icon-thermometer-half:before { content: "\e8a1"; }

.el-icon-thumb-tack:before { content: "\e8a2"; }

.el-icon-thermometer-three-quarters:before { content: "\e8a3"; }

.el-icon-thermometer-quarter:before { content: "\e8a4"; }

.el-icon-thermometer:before { content: "\e8a5"; }

.el-icon-thumbs-down:before { content: "\e8a6"; }

.el-icon-times-circle:before { content: "\e8a7"; }

.el-icon-thumbs-up:before { content: "\e8a8"; }

.el-icon-ticket:before { content: "\e8a9"; }

.el-icon-thumbs-o-down:before { content: "\e8aa"; }

.el-icon-thumbs-o-up:before { content: "\e8ab"; }

.el-icon-times-circle-o:before { content: "\e8ac"; }

.el-icon-times-rectangle-o:before { content: "\e8ad"; }

.el-icon-times-rectangle:before { content: "\e8ae"; }

.el-icon-times:before { content: "\e8af"; }

.el-icon-tint:before { content: "\e8b0"; }

.el-icon-toggle-left:before { content: "\e8b1"; }

.el-icon-toggle-down:before { content: "\e8b2"; }

.el-icon-toggle-off:before { content: "\e8b3"; }

.el-icon-toggle-right:before { content: "\e8b4"; }

.el-icon-toggle-on:before { content: "\e8b5"; }

.el-icon-toggle-up:before { content: "\e8b6"; }

.el-icon-transgender-alt:before { content: "\e8b7"; }

.el-icon-trademark:before { content: "\e8b8"; }

.el-icon-train:before { content: "\e8b9"; }

.el-icon-trash-o:before { content: "\e8ba"; }

.el-icon-trash:before { content: "\e8bb"; }

.el-icon-transgender:before { content: "\e8bc"; }

.el-icon-tree:before { content: "\e8bd"; }

.el-icon-try:before { content: "\e8be"; }

.el-icon-trello:before { content: "\e8bf"; }

.el-icon-trophy:before { content: "\e8c0"; }

.el-icon-tty:before { content: "\e8c1"; }

.el-icon-truck:before { content: "\e8c2"; }

.el-icon-tripadvisor:before { content: "\e8c3"; }

.el-icon-tumblr-square:before { content: "\e8c4"; }

.el-icon-turkish-lira:before { content: "\e8c5"; }

.el-icon-tumblr:before { content: "\e8c6"; }

.el-icon-tv:before { content: "\e8c7"; }

.el-icon-twitter:before { content: "\e8c8"; }

.el-icon-twitter-square:before { content: "\e8c9"; }

.el-icon-twitch:before { content: "\e8ca"; }

.el-icon-underline:before { content: "\e8cb"; }

.el-icon-umbrella:before { content: "\e8cc"; }

.el-icon-undo:before { content: "\e8cd"; }

.el-icon-unlink:before { content: "\e8ce"; }

.el-icon-university:before { content: "\e8cf"; }

.el-icon-universal-access:before { content: "\e8d0"; }

.el-icon-unlock-alt:before { content: "\e8d1"; }

.el-icon-unlock:before { content: "\e8d2"; }

.el-icon-upload:before { content: "\e8d3"; }

.el-icon-unsorted:before { content: "\e8d4"; }

.el-icon-usd:before { content: "\e8d5"; }

.el-icon-usb:before { content: "\e8d6"; }

.el-icon-user-circle:before { content: "\e8d7"; }

.el-icon-user-o:before { content: "\e8d8"; }

.el-icon-user-circle-o:before { content: "\e8d9"; }

.el-icon-user-plus:before { content: "\e8da"; }

.el-icon-user-md:before { content: "\e8db"; }

.el-icon-user-secret:before { content: "\e8dc"; }

.el-icon-user:before { content: "\e8dd"; }

.el-icon-user-times:before { content: "\e8de"; }

.el-icon-users:before { content: "\e8df"; }

.el-icon-vcard-o:before { content: "\e8e0"; }

.el-icon-vcard:before { content: "\e8e1"; }

.el-icon-venus:before { content: "\e8e2"; }

.el-icon-venus-mars:before { content: "\e8e3"; }

.el-icon-venus-double:before { content: "\e8e4"; }

.el-icon-viadeo-square:before { content: "\e8e5"; }

.el-icon-viacoin:before { content: "\e8e6"; }

.el-icon-viadeo:before { content: "\e8e7"; }

.el-icon-video-camera:before { content: "\e8e8"; }

.el-icon-vimeo-square:before { content: "\e8e9"; }

.el-icon-vine:before { content: "\e8ea"; }

.el-icon-vimeo:before { content: "\e8eb"; }

.el-icon-vk:before { content: "\e8ec"; }

.el-icon-volume-control-phone:before { content: "\e8ed"; }

.el-icon-volume-off:before { content: "\e8ee"; }

.el-icon-volume-down:before { content: "\e8ef"; }

.el-icon-warning:before { content: "\e8f0"; }

.el-icon-volume-up:before { content: "\e8f1"; }

.el-icon-wechat:before { content: "\e8f2"; }

.el-icon-weibo:before { content: "\e8f3"; }

.el-icon-whatsapp:before { content: "\e8f4"; }

.el-icon-weixin:before { content: "\e8f5"; }

.el-icon-wheelchair-alt:before { content: "\e8f6"; }

.el-icon-wheelchair:before { content: "\e8f7"; }

.el-icon-wikipedia-w:before { content: "\e8f8"; }

.el-icon-wifi:before { content: "\e8f9"; }

.el-icon-window-close:before { content: "\e8fa"; }

.el-icon-window-close-o:before { content: "\e8fb"; }

.el-icon-window-maximize:before { content: "\e8fc"; }

.el-icon-window-minimize:before { content: "\e8fd"; }

.el-icon-window-restore:before { content: "\e8fe"; }

.el-icon-windows:before { content: "\e8ff"; }

.el-icon-won:before { content: "\e900"; }

.el-icon-wordpress:before { content: "\e901"; }

.el-icon-wpexplorer:before { content: "\e902"; }

.el-icon-wpbeginner:before { content: "\e903"; }

.el-icon-xing-square:before { content: "\e904"; }

.el-icon-wrench:before { content: "\e905"; }

.el-icon-wpforms:before { content: "\e906"; }

.el-icon-y-combinator:before { content: "\e907"; }

.el-icon-xing:before { content: "\e908"; }

.el-icon-y-combinator-square:before { content: "\e909"; }

.el-icon-yahoo:before { content: "\e90a"; }

.el-icon-yc:before { content: "\e90b"; }

.el-icon-yc-square:before { content: "\e90c"; }

.el-icon-yen:before { content: "\e90d"; }

.el-icon-yelp:before { content: "\e90e"; }

.el-icon-yoast:before { content: "\e90f"; }

.el-icon-youtube-play:before { content: "\e910"; }

.el-icon-youtube-square:before { content: "\e911"; }

.el-icon-youtube:before { content: "\e912"; }

.el-icon-loading:before {
  content: "\e913";
}
.el-icon-loading {
  animation: rotating 1s linear infinite;
}

.el-icon--right {
  margin-left: 5px;
}
.el-icon--left {
  margin-right: 5px;
}

@keyframes rotating {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
