@charset "UTF-8";
@import "./common/var.css";
@import "./common/popup.css";
@import "./button.css";
@import "./input.css";

@component-namespace el {

  @b eg-dialog {
    text-align: left;
    display: inline-block;
    vertical-align: middle;
    background-color: var(--color-white);
    border-radius: var(--egdlg-border-radius);
    font-size: var(--egdlg-font-size);
    overflow: hidden;
    backface-visibility: hidden;
    box-sizing: border-box;
    @utils-vertical-center;
    @e wrapper {
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      text-align: center;
      &::after {
        content: "";
        display: inline-block;
        width: 0;
        vertical-align: middle;
      }
    }

    @e header {
      position: absolute;
      padding: 20px 20px 0;
      height:20px;
      top:0px;
      margin:0;
      box-sizing: content-box;
    }

    @e content {
      padding: 10px 10px;
      top:0px;
      color: var(--egdlg-content-color);
      font-size: var(--egdlg-content-font-size);
      position: relative;
      box-sizing: border-box;
      margin:0;
      overflow: auto;
    }

    @e close {
      display: inline-block;
      position: absolute;
      top: 19px;
      right: 20px;
      color: #999;
      cursor: pointer;
      line-height: 20px;
      text-align: center;

      &:hover {
        color: var(--color-primary);
      }
    }

    @e input {
      padding-top: 15px;
      & input.invalid {
        border-color: var(--color-danger);
        &:focus {
          border-color: var(--color-danger);
        }
      }
    }

    @e errormsg {
      color: var(--color-danger);
      font-size: var(--egdlg-error-font-size);
      min-height: 18px;
      margin-top: 2px;
    }

    @e title {
      padding-left: 0;
      margin-bottom: 0;
      font-size: var(--egdlg-font-size);
      font-weight: bold;
      height: 18px;
      color: #333;
      text-align: left;

    }

    @e message {
      margin: 0 ;
      & p {
        margin: 0;
        line-height: 1.4;
      }
    }

  @e btns {
      padding: 10px 20px 15px;
      text-align: right;

      & button:nth-child(2) {
        margin-left: 10px;
      }
    }

    @e btns-reverse {
      flex-direction: row-reverse;
    }

   

    @e status {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      font-size: 36px !important;

      &.el-icon-circle-check {
        color: var(--egdlg-success-color);
      }

      &.el-icon-information {
        color: var(--egdlg-info-color);
      }

      &.el-icon-warning {
        color: var(--egdlg-warning-color);
      }

      &.el-icon-circle-cross {
        color: var(--egdlg-danger-color);
      }
    }
  }
}

.egdlg-fade-enter-active {
  animation: egdlg-fade-in .3s;
}

.egdlg-fade-leave-active {
  animation: egdlg-fade-out .3s;
}

@keyframes egdlg-fade-in {
  0% {
    transform: translate3d(0, -20px, 0);
    opacity: 0;
  }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes egdlg-fade-out {
  0% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  100% {
    transform: translate3d(0, -20px, 0);
    opacity: 0;
  }
}


.egdlg-floatRight-enter-active {
  animation: egdlg-floatRight-in 0.1s;
}

.egdlg-floatRight-leave-active {
  animation: egdlg-floatRight-out 0.1s;
}

@keyframes egdlg-floatRight-in {
  0% {
    transform: translate3d(100%, 0, 0);
    opacity: 0;
  }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes egdlg-floatRight-out {
  0% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  100% {
    transform: translate3d(100%, 0, 0);
    opacity: 0;
  }
}

.egdlg-floatLeft-enter-active {
  animation: egdlg-floatLeft-in 0.1s;
}

.egdlg-floatLeft-leave-active {
  animation: egdlg-floatLeft-out 0.1s;
}

@keyframes egdlg-floatLeft-in {
  0% {
    transform: translate3d(-100%, 0, 0);
    opacity: 0;
  }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes egdlg-floatLeft-out {
  0% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  100% {
    transform: translate3d(-100%, 0, 0);
    opacity: 0;
  }
}

.egdlg-floatUp-enter-active {
  animation: egdlg-floatUp-in 0.1s;
}

.egdlg-floatUp-leave-active {
  animation: egdlg-floatUp-out 0.1s;
}

@keyframes egdlg-floatUp-in {
  0% {
    transform: translate3d(0, -100%, 0);
    opacity: 0;
  }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes egdlg-floatUp-out {
  0% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  100% {
    transform: translate3d(0, -100%, 0);
    opacity: 0;
  }
}

.egdlg-floatDown-enter-active {
  animation: egdlg-floatDown-in 0.1s;
}

.egdlg-floatDown-leave-active {
  animation: egdlg-floatDown-out 0.1s;
}

@keyframes egdlg-floatDown-in {
  0% {
    transform: translate3d(0, 100%, 0);
    opacity: 0;
  }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes egdlg-floatDown-out {
  0% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  100% {
    transform: translate3d(0, 100%, 0);
    opacity: 0;
  }
}